<template>
  <div>
    <VApp>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h1>PIPOL SYSTEM SIGN UP PAGE</h1>
              </div>

              <div class="card-body">
                <p>
                  The PIPOL System v2.0 will be open to Agency PIP Focals starting September 2, 2019
                  for the submission of priority programs and projects (PAPs) for inclusion in the Updated 2017-2022
                  PIP and TRIP for FY 2021-2023 as input to the FY 2021 Budget Preparation.
                </p>
                <p>
                  For this PIP Updating, all concerned agencies are required to reconfirm/designate their PIP/TRIP
                  Focals who will be provided with the new username and password by the PIP and TRIP Secretariats to
                  access the PIPOL System.
                </p>
                <p>
                  Kindly provide all
                  <strong class="text-primary">required information</strong> and
                  <strong class="text-primary">
                    upload a copy
                    of the duly signed authorization form
                  </strong> in PDF or JPEG format (file size should not exceed 5MB).
                  Please be informed that all requests for PIPOL System account username and password will be subject to review and approval
                  by the PIP and TRIP Secretariats. Once approved, an email will be sent to the provided email addresses of the authorized
                  Agency PIP/TRIP Focals with the account username and password.
                  <a
                    href="/storage/authform.docx"
                    target="_blank"
                  >
                    <strong>Download Form here</strong>
                  </a>
                </p>
                <!-- <div class="form-row">
                <div class="col-md-12 form-group">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="newuser"
                      value="true"
                      checked
                      v-model="newuser"
                    >
                    <label class="form-check-label" for="newuser">New User</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="olduser"
                      value="false"
                      v-model="newuser"
                    >
                    <label class="form-check-label" for="olduser">Old User</label>
                  </div>
                </div>
                </div>-->
                <div class="form-group">
                  <label class="typo__label">Agency</label>
                  <multiselect
                    v-model="selectedAgency"
                    :options="agencies"
                    :multiple="false"
                    :close-on-select="true"
                    :clear-on-select="false"
                    :preserve-search="true"
                    placeholder="Type to search"
                    :custom-label="codeWithDesc"
                    track-by="UACS_AGY_DSC"
                    :preselect-first="false"
                    :hide-selected="false"
                    :loading="isLoading"
                    @search-change="asyncFindAgency"
                    @select="getMother"
                    v-if="newuser == true"
                  ></multiselect>
                  <multiselect
                    v-model="selectedAgencyOld"
                    :options="agenciesOld"
                    :multiple="false"
                    :close-on-select="true"
                    :clear-on-select="false"
                    :preserve-search="true"
                    placeholder="Type to search old"
                    :custom-label="codeWithDesc"
                    track-by="UACS_AGY_DSC"
                    :preselect-first="false"
                    :hide-selected="false"
                    :loading="isLoading"
                    @search-change="asyncFindAgencyOld"
                    v-if="newuser == 'false'"
                  ></multiselect>
                </div>
                <div class="form-group">
                  <span v-if="motheragency != ''">Mother Agency:</span>
                  {{motheragency}}
                </div>
                <div class="form-group">
                  <button
                    class="btn btn-primary"
                    @click="addUserForm"
                    v-if="AddUSer3Visible === true && users.length < 4"
                  >Add User Form</button>
                </div>
                <div class="form-group">
                  <button
                    class="btn btn-primary"
                    @click="addUserForm"
                    v-if="AddUSer10Visible === true && users.length < 11"
                  >Add User Form</button>
                </div>
                <!-- <div class="form-group">
                  <button
                    class="btn btn-primary"
                    @click="addUserForm"
                    v-if="selectedAgency.id === 161 || selectedAgency.id === 438 || selectedAgency.id === 239 ||
                    selectedAgency.id === 219 || selectedAgency.id === 19 || selectedAgency.id === 234 ||
                    selectedAgency.id === 276 || selectedAgency.id === 293 && users.length < 10 
                    && selectedAgency.length != 0"
                  >Add User Form</button>
                </div>-->

                <div class="card mb-3" v-for="(user, index) in users" :key="index">
                  <div class="card-header">
                    <span class="pull-left" v-if="index == 0">
                      (index: {{index}}) 1. Contact Information of the Head of the Agency
                      <br />
                      <small class="text-primary">
                        Should be consistent with the signatory of the Authorization Form.
                        All advisories will be sent to the Head of Agency through the e-mail address to be provided below.
                      </small>
                    </span>
                    <span
                      class="pull-left"
                      v-if="index == 1 "
                    >(index: {{index}}) {{index + 1}}. Agency PIP/TRIP Focal {{index}} (Director IV and above)*</span>
                    <span
                      class="pull-left"
                      v-if="index > 1 "
                    >(index: {{index}}) {{index + 1}}. Agency PIP/TRIP Focal {{index}}</span>
                    <span
                      class="float-right"
                      style="cursor:pointer"
                      data-effect="fadeOut"
                      @click="deleteUserForm(index)"
                    >X</span>
                  </div>

                  <div class="card-body">
                    <form
                      id="UserForm"
                      @submit.prevent="validateBeforeSubmit"
                      method="POST"
                      :action="route"
                    >
                      <input type="hidden" name="_token" :value="csrf" />
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="lname" class="col-form-label">Last Name</label>
                          <input
                            class="form-control"
                            name="lname"
                            v-model="user.lname"
                            v-validate="'required'"
                            :class="{'is-invalid': errors.has('lname') }"
                            type="text"
                          />
                          <div
                            v-show="errors.has('lname')"
                            class="invalid-feedback"
                          >{{ errors.first('lname') }}</div>
                        </div>
                        <div class="col-md-4 form-group">
                          <label for="fname" class="col-form-label">First Name</label>
                          <input
                            class="form-control"
                            name="fname"
                            v-model="user.fname"
                            v-validate="'required'"
                            :class="{'is-invalid': errors.has('fname') }"
                            type="text"
                          />
                          <div
                            v-show="errors.has('fname')"
                            class="invalid-feedback"
                          >{{ errors.first('fname') }}</div>
                        </div>
                        <div class="col-md-4 form-gr">
                          <label for="mname" class="col-form-label">Middle Name</label>
                          <input class="form-control" name="mname" v-model="user.mname" type="text" />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-4 form-group">
                          <label for="designation" class="col-form-label">Designation</label>
                          <input
                            class="form-control"
                            name="designation"
                            v-model="user.designation"
                            v-validate="'required'"
                            :class="{'is-invalid': errors.has('designation') }"
                            type="text"
                          />
                          <div
                            v-show="errors.has('designation')"
                            class="invalid-feedback"
                          >{{ errors.first('designation') }}</div>
                        </div>
                        <div class="col-md-4 form-group">
                          <label for="telnumber" class="col-form-label">Telnumber</label>
                          <small class="text-secondary">(Please include area code)</small>
                          <input
                            class="form-control"
                            name="telnumber"
                            v-model="user.telnumber"
                            v-validate="'required|numeric|min:7'"
                            :class="{'is-invalid': errors.has('telnumber') }"
                            type="text"
                          />
                          <div
                            v-show="errors.has('telnumber')"
                            class="invalid-feedback"
                          >{{ errors.first('telnumber') }}</div>
                        </div>
                        <div class="col-md-4 form-group">
                          <label for="faxnumber" class="col-form-label">Faxnumber</label>
                          <input
                            class="form-control"
                            name="faxnumber"
                            v-model="user.faxnumber"
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-6 form-group">
                          <label for="email" class="col-form-label">Email</label>
                          <input
                            class="form-control"
                            name="email"
                            v-model="user.email"
                            v-validate="'required|email'"
                            :class="{'is-invalid': errors.has('email') }"
                            type="text"
                          />
                          <div
                            v-show="errors.has('email')"
                            class="invalid-feedback"
                          >{{ errors.first('email') }}</div>
                        </div>
                        <div class="col-md-6 form-group" v-if="index > 0">
                          <label for="password" class="col-form-label">Password</label>
                          <input
                            class="form-control"
                            name="password"
                            v-model="user.password"
                            v-validate="'required|min:8'"
                            :class="{'is-invalid': errors.has('password') }"
                            type="password"
                          />
                          <div
                            v-show="errors.has('password')"
                            class="invalid-feedback"
                          >{{ errors.first('password') }}</div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                            <label
                              for="gender"
                              class="col-form-label"
                            >Gender</label>
                            <br/>
                            <label class="radio">
                              <input
                                name="gender"
                                v-validate="'required|included:Male,Female'"
                                value="Male"
                                type="radio"
                                v-model="user.gender"
                              />
                              Male
                            </label> &nbsp;&nbsp;
                            <label class="radio">
                              <input name="gender" value="Female" type="radio" v-model="user.gender" />
                              Female
                            </label>
                          <div
                            v-show="errors.has('gender')"
                            class="help is-danger text-danger"
                          >{{ errors.first('gender') }}</div>
                        </div>
                      </div>
                      <div
                        class="card"
                        v-if="selectedAgency.motheragency_id != 0 && index == 0 && selectedAgency.length != 0"
                      >
                        <div class="card-header">
                          <span class="pull-left">
                            Contact Information of the Head of the Mother Agency (if applicable)
                            <br />
                            <small class="text-primary">
                              Should be consistent with the signatory of the Authorization Form.
                              All advisories will be sent to the Head of Agency through the e-mail address to be provided below.
                            </small>
                          </span>
                        </div>
                        <div class="card-body">
                          <div class="form-row">
                            <div class="form-group col-md-4">
                              <label for="mlname" class="col-form-label">Last Name</label>
                              <input
                                class="form-control"
                                name="mlname"
                                v-model="user.mlname"
                                v-validate="'required'"
                                :class="{'is-invalid': errors.has('mlname') }"
                                type="text"
                              />
                              <div
                                v-show="errors.has('mlname')"
                                class="invalid-feedback"
                              >{{ errors.first('mlname') }}</div>
                            </div>
                            <div class="col-md-4 form-group">
                              <label for="mfname" class="col-form-label">First Name</label>
                              <input
                                class="form-control"
                                name="mfname"
                                v-model="user.mfname"
                                v-validate="'required'"
                                :class="{'is-invalid': errors.has('mfname') }"
                                type="text"
                              />
                              <div
                                v-show="errors.has('mfname')"
                                class="invalid-feedback"
                              >{{ errors.first('mfname') }}</div>
                            </div>
                            <div class="col-md-4 form-gr">
                              <label for="mmname" class="col-form-label">Middle Name</label>
                              <input
                                class="form-control"
                                name="mmname"
                                v-model="user.mmname"
                                v-validate="'required'"
                                :class="{'is-invalid': errors.has('mmname') }"
                                type="text"
                              />
                              <div
                                v-show="errors.has('mmname')"
                                class="invalid-feedback"
                              >{{ errors.first('mmname') }}</div>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="col-md-4 form-group">
                              <label for="mdesignation" class="col-form-label">Designation</label>
                              <input
                                class="form-control"
                                name="mdesignation"
                                v-model="user.mdesignation"
                                v-validate="'required'"
                                :class="{'is-invalid': errors.has('mdesignation') }"
                                type="text"
                              />
                              <div
                                v-show="errors.has('mdesignation')"
                                class="invalid-feedback"
                              >{{ errors.first('mdesignation') }}</div>
                            </div>
                            <div class="col-md-4 form-group">
                              <label for="mtelnumber" class="col-form-label">Telnumber</label>
                              <input
                                class="form-control"
                                name="mtelnumber"
                                v-model="user.mtelnumber"
                                v-validate="'required|numeric|min:7'"
                                :class="{'is-invalid': errors.has('mtelnumber') }"
                                type="text"
                              />
                              <div
                                v-show="errors.has('mtelnumber')"
                                class="invalid-feedback"
                              >{{ errors.first('mtelnumber') }}</div>
                            </div>
                            <div class="col-md-4 form-group">
                              <label for="mfaxnumber" class="col-form-label">Faxnumber</label>
                              <input
                                class="form-control"
                                name="mfaxnumber"
                                v-model="user.mfaxnumber"
                                v-validate="'required|numeric|min:7'"
                                :class="{'is-invalid': errors.has('mfaxnumber') }"
                                type="text"
                              />
                              <div
                                v-show="errors.has('mfaxnumber')"
                                class="invalid-feedback"
                              >{{ errors.first('mfaxnumber') }}</div>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="col-md-6 form-group">
                              <label for="memail" class="col-form-label">mEmail</label>
                              <input
                                class="form-control"
                                name="memail"
                                v-model="user.memail"
                                v-validate="'required|email'"
                                :class="{'is-invalid': errors.has('memail') }"
                                type="text"
                              />
                              <div
                                v-show="errors.has('memail')"
                                class="invalid-feedback"
                              >{{ errors.first('memail') }}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-12 text-left">
                    <button
                      class="btn btn-primary"
                      v-if="newuser == 'false'"
                      @click="showFileUpload"
                    >Upload Authorization Form</button>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-12 text-left">
                    <v-checkbox v-model="checkbox" label="I agree to the NEDA PRIVACY NOTICE"></v-checkbox>
                    <span>
                      All the personal information contained in any document received or
                      transmitted herein shall be used solely for documentation and processing
                      purposes within NEDA and shall not be shared with any outside parties,
                      unless with your written consent. Personal information shall be retained and
                      stored by NEDA within a time period in accordance with the National Archives of the Philippines'
                      General Disposition Schedule.
                    </span>
                  </div>
                </div>
                <div class="form-group" v-if="users.length > 1 && checkbox === true">
                  <div class="col-md-12 text-center">
                    <button
                      type="submit"
                      class="btn btn-primary"
                      @click="submitItem($event)"
                    >Register</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <modal name="fileUpload" :height="450">
        <div class="card p-3 m-3">
          <h5 class>Upload Authorization Form</h5>
          <p class="text-primary">
            Duly signed authorization form by the Head of Agency.
            File should be in PDF or JPEG Format and should not exceed the maximum size of 5 MB.
          </p>
          <image-uploader :submission="selectedAgency" :submissionOld="selectedAgencyOld"></image-uploader>
        </div>
      </modal>
    </VApp>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import ImageUploader from "./ImageUploader";
import "vue-snotify/styles/material.css";

const mapDuplicate = new Map();
const mapDuplicateOld = new Map();

export default {
  name: "adduser",
  props: ["route"],
  data() {
    return {
      csrf: document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content"),
      users: [
        {
          lname: "",
          fname: "",
          mname: "",
          designation: "",
          telnumber: "",
          faxnumber: "",
          email: "",
          password: "",
          gender: "",
          mlname: "",
          mfname: "",
          mmname: "",
          mdesignation: "",
          mtelnumber: "",
          mfaxnumber: "",
          memail: ""
        }
      ],
      selectedAgencyOld: [],
      selectedAgency: [],
      agenciesOld: [],
      agencies: [],
      isLoading: false,
      newuser: true,
      motheragency: "",
      checkbox: false,
      dialog: false,
      AddUSer10Visible: false,
      AddUSer3Visible: false
    };
  },
  watch: {
    newuser: function(value) {
      if (value == "false") {
        this.users.length = 0;
        this.selectedAgency = "";
        this.agencies.length = 0;
      } else {
        this.newuser = true;
        this.selectedAgencyOld = "";
        this.agenciesOld.length = 0;
        this.users.push([
          {
            lname: "",
            fname: "",
            mname: "",
            designation: "",
            telnumber: "",
            faxnumber: "",
            email: "",
            password: "",
            mlname: "",
            mfname: "",
            mmname: "",
            mdesignation: "",
            mtelnumber: "",
            mfaxnumber: "",
            memail: ""
          }
        ]);
      }
    }
  },
  methods: {
    submitItem(evt) {
      evt.preventDefault();
      if (confirm("Please check the information encoded before proceeding")) {
        this.validateBeforeSubmit(evt);
      }
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          axios
            .post(this.route, {
              users: this.users,
              agency: this.selectedAgency
            })
            .then(res => {
              console.log(res.data);
              this.$modal.show("fileUpload");
            })
            .catch(err => {
              console.error(err);
            });
          return;
        }

        alert("Correct the errors!");
      });
    },
    addUserForm() {
      this.users.push({
        lname: "",
        fname: "",
        mname: "",
        designation: "",
        telnumber: "",
        faxnumber: "",
        email: "",
        password: "",
        gender: ""
      });
    },
    deleteUserForm(index) {
      this.users.splice(index, 1);
    },
    asyncFindAgency(query) {
      this.isLoading = true;
      axios
        .post("/asyncfindagency", { query })
        .then(res => {
          res.data.forEach(e => {
            if (!mapDuplicate.has(e.id)) {
              mapDuplicate.set(e.id, true);
              this.agencies.push(e);
            }
          });
          this.isLoading = false;
        })
        .catch(err => {
          console.error(err);
        });
    },
    asyncFindAgencyOld(query) {
      this.isLoading = true;
      axios
        .post("/asyncfindagencyold", { query })
        .then(res => {
          res.data.forEach(e => {
            if (!mapDuplicateOld.has(e.id)) {
              mapDuplicateOld.set(e.id, true);
              this.agenciesOld.push(e);
            }
          });
          this.isLoading = false;
        })
        .catch(err => {
          console.error(err);
        });
    },
    codeWithDesc({ Abbreviation, UACS_AGY_DSC }) {
      return `${UACS_AGY_DSC} — [${Abbreviation}]`;
    },
    showFileUpload() {
      this.$modal.show("fileUpload");
    },
    getMother(item) {
      this.AddUSer3Visible = true;
      this.AddUSer10Visible = false;
      this.users = [];
      this.users.push({
        lname: "",
        fname: "",
        mname: "",
        designation: "",
        telnumber: "",
        faxnumber: "",
        email: "",
        password: "",
        gender:""
      });
      if (item.id === 161 || item.id === 438) {
        this.AddUSer10Visible = true;
        this.AddUSer3Visible = false;
      } else if (item.id === 239 || item.id === 219) {
        this.AddUSer10Visible = true;
        this.AddUSer3Visible = false;
      } else if (item.id === 19 || item.id === 234) {
        this.AddUSer10Visible = true;
        this.AddUSer3Visible = false;
      } else if (item.id === 276 || item.id === 293) {
        this.AddUSer10Visible = true;
        this.AddUSer3Visible = false;
      }

      if (item.motheragency_id != 0) {
        axios
          .post("getMother", { id: item.motheragency_id })
          .then(res => {
            console.log(res.data);
            this.motheragency = res.data.UACS_AGY_DSC;
          })
          .catch(err => {
            console.error(err);
          });
      }
      console.log(item);
    }
  },
  components: {
    Multiselect,
    ImageUploader
  }
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>