<template>
    <div id="approvedusers">
        <vContainer fluid py-0>
        <VLayout>
          <VFlex>
            <vContainer fluid py-3>
              <VLayout row>
                <VFlex xs12 sm3 offset-sm9>
                  <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                  ></v-text-field>
                </VFlex>
              </VLayout>
            </vContainer>
            <v-data-table
              :headers="headers"
              :items="desserts"
              :search="search"
              hideActions
              :pagination.sync="pagination"
              class="elevation-1"
              width="100%"
            >
              <template v-slot:items="props">
                <td class="text-xs-left pl-1">{{ props.item.lname }}</td>
                <td class="text-xs-left pl-1">{{ props.item.fname }}</td>
                <!-- <td class="text-xs-left pl-1">{{ props.item.mname }}</td> -->
                <td class="text-xs-left">{{ props.item.UACS_AGY_DSC }}</td>
                <td class="text-xs-left">{{ props.item.email }}</td>
                <td class="text-xs-left">{{ props.item.telnumber }}</td>
                <td class="text-xs-left">{{ props.item.created_at }}</td>
                <td class="justify-center layout px-0">
                  <v-icon small class="mr-2" @click="disabled(props.item)">desktop_access_disabled</v-icon>
                  <v-icon small class="mr-2" @click="openauth(props.item)">search</v-icon>
                  <!-- <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon> -->
                  <!--  <v-icon small @click="deleteItem(props.item)">delete</v-icon> -->
                </td>
              </template>
            </v-data-table>

            <VSpacer/>
            <vContainer fluid>
              <VFlex row>
                <VFlex xs2 pl-2>
                  <v-combobox
                    v-model="rowsselected"
                    :items="rows"
                    label="Rows Per Page"
                    hideDetails
                  ></v-combobox>
                </VFlex>
                <VSpacer/>
                <v-chip v-if="search == ''" label>
                  Showing {{pagination.from}} to {{pagination.to}} of
                  {{pagination.totalItems}} entries
                </v-chip>
                <v-chip v-if="search != ''" label>
                  Showing {{pagination.totalItems}} of
                  {{pagination.totalItems}} entries
                </v-chip>
                <VSpacer/>
                <v-pagination
                  v-model="pagination.current"
                  :length="pagination.total"
                  :total-visible="7"
                  @input="onPageChange"
                ></v-pagination>
              </VFlex>
            </vContainer>
          </VFlex>
        </VLayout>
      </vContainer>
    </div>
</template>

<script>
import { SnotifyPosition, SnotifyStyle } from "vue-snotify";
import "vue-snotify/styles/material.css";
export default {
    name: "approvedusers",
  mounted() {
    this.getData();
  },
  props: ['tab'],
  data() {
    return {
      model: 'tab-1',
      usertypeoptions: ["AG", "DBM", "NRO", "SS", "IS"],
      dialog: false,
      editedIndex: -1,
      editedItem: {
        lname: "",
        fname: "",
        mname: "",
        designation: "",
        email: "",
        telnumber: "",
        faxnumber: "",
        username: "",
        password: "",
        UACS_AGY_DSC: "",
        submissionid: "",
        user_type: "AG"
      },
      search: "",
      rows: [5, 10, 15, 25, 100, 1000],
      rowsselected: 100,
      pagination: {
        current: 1,
        total: 0
      },
      selected: [],
      headers: [
        { text: "LNAME", value: "lname", width: "20%" },
        { text: "FNAME", value: "fname", width: "20%" },
        // { text: "MNAME", value: "mname", width: "20%" },
        { text: "AGENCY", value: "UACS_AGY_DSC", width: "30%" },
        { text: "EMAIL", value: "email", width: "30%" },
        { text: "TEL NUMBER", value: "telnumber", width: "1%" },
        { text: "CREATED", value: "created_at", width: "1%" },
        { text: "Actions", value: "name", sortable: false }
      ],
      desserts: []
    };
  },
  computed: {
    pages() {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      )
        return 0;

      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      );
    },
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }
  },
  watch: {
    rowsselected: {
      handler() {
        this.getData();
      },
      deep: true
    },
    tab:{
        handler() {
        this.getData();
      },
      deep: true
    }
  },
  methods: {
    getData() {
      axios
        .get(
          "/ajax-crud?page=" +
            this.pagination.current +
            "&rows=" +
            this.rowsselected
        )
        .then(res => {
          console.log(res.data.to);
          this.desserts = res.data.data;
          this.pagination.total = res.data.last_page;
          this.pagination.rowsPerPage = res.data.per_page;
          this.pagination.totalItems = res.data.total;
          this.pagination.from = res.data.from;
          this.pagination.to = res.data.to;
          this.pagination.sortBy = "created_at";
          this.pagination.descending = true;
        })
        .catch(err => {
          console.error(err);
        });
    },
    onPageChange() {
      this.getData();
      console.log(this.pagination);
    },
    // editItem(item) {
    //   // console.log(item)
    //   this.editedIndex = this.desserts.indexOf(item);
    //   this.editedItem = Object.assign({password: ""}, item);
    //   this.dialog = true;
    // },

    // deleteItem(item) {
    //   const index = this.desserts.indexOf(item);
    //   confirm("Are you sure you want to delete this item?") &&
    //     axios
    //       .get("ajax-crud/destroy/" + item.id)
    //       .then(res => {
    //         console.log(res);
    //       })
    //       .catch(err => {
    //         console.error(err);
    //       });
    //   this.desserts.splice(index, 1);
    // },
    disabled(item) {
      const index = this.desserts.indexOf(item);
      this.desserts.splice(index, 1);
      confirm("Are you sure you want to disable this user?") &&
        axios
          .get("disable/" + item.id)
          .then(res => {
            console.log(res.data);
          })
          .catch(err => {
            console.error(err);
          });
      this.$snotify.create({
        title: "Success!!!",
        body: "User Disabled",
        config: {
          position: SnotifyPosition.rightTop,
          type: SnotifyStyle.success,
          showProgressBar: false,
          timeout: 2000,
          showProgressBar: true,
          titleMaxLength: 100,
          bodyMaxLength: 100
        }
      });
    },

    // close() {
    //   this.dialog = false;
    //   setTimeout(() => {
    //     this.editedItem = Object.assign({}, this.defaultItem);
    //     this.editedIndex = -1;
    //   }, 300);
    // },

    // save() {
    //   if (this.editedIndex > -1) {
    //      Object.assign(this.desserts[this.editedIndex], this.editedItem);
    //     axios
    //       .post("ajax-crud/update", {
    //         data: this.editedItem
    //       })
    //       .then(res => {
    //         console.log(res.data);
    //       })
    //       .catch(err => {
    //         console.error(err);
    //       });
    //   } 
    //   // else {
    //   //   this.desserts.push(this.editedItem);
    //   // }
    //   this.close();
    // },
    openauth(item){
      axios.post('openauth',{user: item})
      .then(res => {
        console.log(res.data)
        window.open("/images/"+res.data, "_blank");
      })
      .catch(err => {
        console.error(err); 
      })
    }
  }
}
</script>

<style>

</style>
