<template>
  <div name="cipbox" class="col-sm-12" v-if="cipCard">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h5>
          Core Investment Programs/Projects (CIP)
          <i class="fas fa-flag flag_tomato"></i>
          <br />
          <small class="text-primary">
            Refers to the big ticket programs and projects of the PIP that serve as 
            pipeline for the NEDA Board and Investment Coordination Committee
          </small>
        </h5>
      </div>
      <div class="card-body">
        <div class="i-checks" v-for="ciptypology in ciptypologies" :key="ciptypology.id">
          <input
            type="radio"
            name="CIP"
            :id="`cip${ciptypology.id}`"
            :value="ciptypology.id"
            class="form-control-custom radio-custom form-check-input"
            v-model="selectedCIP"
            v-validate="'required'"
          />
          <label :for="`cip${ciptypology.id}`">{{ciptypology.typologies}}</label>
        </div>
        <span class="text-danger">{{ errors.first('CIP') }}</span>
      </div>
      <div class="card-footer">
        <levelofapproval ref="levelofapproval" :projects="projects"></levelofapproval>
        <levelofgad ref="levelofgad" :projects="projects" ></levelofgad>
      </div>
    </div>
  </div>
</template>

<script>
import store from "../../store/storetodb";
import levelofapproval from "./LevelOfApproval.vue";
import levelofgad from "./LevelOfGad.vue";
export default {
  name: "cipbox",
  props: ["ciptypologies", "cipCard", "projects"],
  components: { levelofapproval, levelofgad },
  data() {
    return {
      selectedCIP: ""
      // cipCard: true,
    };
  },
  mounted() {
    if (this.projects != null) {
      this.selectedCIP = this.projects.cip_typo
    }
  },
  methods: {
    validateBeforeSubmit() {
      this.$refs.levelofapproval.validateBeforeSubmit();
      this.$refs.levelofgad.validateBeforeSubmit();
      this.$validator.validateAll().then(result => {
        if (result) {
          this.savetostore();
          return;
        }

        // alert("Fill up the required fields! CIP");
      });
    },
    savetostore() {
      this.$refs.levelofapproval.savetostore();
      this.$refs.levelofgad.savetostore();
      store.dispatch("UpdateCipData", {
        selectedCIP: this.selectedCIP,
        cip:true
      });
    }
  }
};
</script>

<style>
</style>
