<template>
  <div name="financialaccomplishments">
    <div class="card" v-if="selectedFundingSource.includes(1)">
      <div class="card-header d-flex align-items-center">
        <h4>
          Financial Accomplishments for Locally-Funded Projects
          <i class="fas fa-flag flag_tomato"></i>
          <br />
          <small class="text-primary">In exact amount in PhP</small>
        </h4>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">
            PAP Code
            <i class="fas fa-flag flag_tomato"></i>
          </label>
          <div class="col-sm-10">
            <input
              type="text"
              placeholder="PAP Code"
              class="form-control"
              v-model="papCode"
              name="PAP_Code"
              v-validate="'required'"
            />
            <small class="text-primary">
              The PAP Code refers to the unique 20-digit code of each program/project which are included in the FY 2020 NEP. This is an excerpt from the full UACS Code of each program/project including only the Agency (Mother and Attached) and the specific Program/Project (Project Title) identification numbers. Please refer to this <a href="https://drive.google.com/file/d/1ZkoT4AT_LP2ZQNLAjzbSMeUa_hblk3-m/view?usp=sharing" target="_blank"><b>link</b></a> for the complete list of PAP Codes in FY 2020 NEP which you may filter by agency or project title.
            </small>
            <span class="text-danger">{{ errors.first('PAP_Code')}}</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">
            Categorization
            <i class="fas fa-flag flag_tomato"></i>
          </label>
          <div class="col-sm-10">
            <multiselect
              v-model="selectedCategory"
              :options="categories"
              :multiple="false"
              :close-on-select="true"
              :clear-on-select="true"
              :preserve-search="false"
              placeholder="Single Selection"
              track-by="name"
              label="name"
              :preselect-first="false"
              :hide-selected="false"
              :allowEmpty="false"
              name="Categorization"
              v-validate="'required'"
            ></multiselect>
            <span class="text-danger">{{ errors.first('Categorization')}}</span>
          </div>
        </div>
        <div class="form-group row" v-if="selectedCategory.id === 2">
          <label class="col-sm-2 form-control-label">
            Tier 2 New / Expanded
            <i class="fas fa-flag flag_tomato"></i>
          </label>
          <div class="col-sm-10">
            <multiselect
              v-model="selectedTier2Option"
              :options="tier2options"
              :multiple="false"
              :close-on-select="true"
              :clear-on-select="true"
              :preserve-search="false"
              placeholder="Single Selection"
              track-by="name"
              label="name"
              :preselect-first="false"
              :hide-selected="false"
              :allowEmpty="false"
              name="Tier_2_New_Expanded"
              v-validate="'required'"
            ></multiselect>
            <span class="text-danger">{{ errors.first('Tier_2_New_Expanded')}}</span>
          </div>
        </div>
        <div class="form-group row" v-if="selectedCategory.id === 1">
          <div class="col-sm-2">&nbsp;</div>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              placeholder="Tier 1 UACS Code"
              v-model="tier1Uacs"
              name="Tier_1_UACS"
              v-validate="'required'"
            />
            <span class="text-danger">{{ errors.first('Tier_1_UACS')}}</span>
          </div>
        </div>
        <div class="form-group row" v-if="selectedTier2Option.id === 2">
          <div class="col-sm-2">&nbsp;</div>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              placeholder="Tier 2 UACS Code"
              v-model="tier2Uacs"
              name="Tier_2_UACS"
            />
            <span class="text-danger">{{ errors.first('Tier_2_UACS')}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Year</th>
                        <th>Amount included in the NEP</th>
                        <th>Amount Allocated in the Budget/GAA</th>
                        <th>Actual Amount Disbursed</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>2017</td>
                        <td>
                          <input
                            type="number"
                            placeholder
                            class="form-control number nep"
                            name="nep_2017"
                            v-model="nep_2017"
                            @change="getTotalNep"
                          />
                        </td>
                        <td>
                          <input
                            type="number"
                            placeholder
                            class="form-control number all"
                            name="all_2017"
                            v-model="all_2017"
                            @change="getTotalAll"
                          />
                        </td>
                        <td>
                          <input
                            type="number"
                            placeholder
                            class="form-control number ad"
                            name="ad_2017"
                            v-model="ad_2017"
                            @change="getTotalAd"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>2018</td>
                        <td>
                          <input
                            type="number"
                            placeholder
                            class="form-control number nep"
                            name="nep_2018"
                            v-model="nep_2018"
                            @change="getTotalNep"
                          />
                        </td>
                        <td>
                          <input
                            type="number"
                            placeholder
                            class="form-control number all"
                            name="all_2018"
                            v-model="all_2018"
                            @change="getTotalAll"
                          />
                        </td>
                        <td>
                          <input
                            type="number"
                            placeholder
                            class="form-control number ad"
                            name="ad_2018"
                            v-model="ad_2018"
                            @change="getTotalAd"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>2019</td>
                        <td>
                          <input
                            type="number"
                            placeholder
                            class="form-control number nep"
                            name="nep_2019"
                            v-model="nep_2019"
                            @change="getTotalNep"
                          />
                        </td>
                        <td>
                          <input
                            type="number"
                            placeholder
                            class="form-control number all"
                            name="all_2019"
                            v-model="all_2019"
                            @change="getTotalAll"
                          />
                        </td>
                        <td style="pointer-events:none">
                          <input
                            type="number"
                            placeholder
                            class="form-control number ad"
                            name="ad_2019"
                            v-model="ad_2019"
                            @change="getTotalAd"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>2020</td>
                        <td>
                          <input
                            type="number"
                            placeholder
                            class="form-control number nep"
                            name="nep_2020"
                            v-model="nep_2020"
                            @change="getTotalNep"
                          />
                        </td>
                        <td style="pointer-events:none">
                          <input
                            type="number"
                            placeholder
                            class="form-control number all"
                            name="all_2020"
                            v-model="all_2020"
                            @change="getTotalAll"
                          />
                        </td>
                        <td style="pointer-events:none">
                          <input
                            type="number"
                            placeholder
                            class="form-control number ad"
                            name="ad_2020"
                            v-model="ad_2020"
                            @change="getTotalAd"
                          />
                        </td>
                      </tr>
                    <!--  <tr>
                        <td>2021</td>
                        <td>
                          <input
                            type="number"
                            placeholder
                            class="form-control number nep"
                            name="nep_2021"
                            v-model="nep_2021"
                            @change="getTotalNep"
                          />
                        </td>
                        <td>
                          <input
                            type="number"
                            placeholder
                            class="form-control number all"
                            name="all_2021"
                            v-model="all_2021"
                            @change="getTotalAll"
                          />
                        </td>
                        <td>
                          <input
                            type="number"
                            placeholder
                            class="form-control number ad"
                            name="ad_2021"
                            v-model="ad_2021"
                            @change="getTotalAd"
                          />
                        </td>
                      </tr>
                      <tr style="pointer-events:none">
                        <td>2022</td>
                        <td>
                          <input
                            type="number"
                            placeholder
                            class="form-control number nep"
                            name="nep_2022"
                            v-model="nep_2022"
                            @change="getTotalNep"
                          />
                        </td>
                        <td style="pointer-events:none">
                          <input
                            type="number"
                            placeholder
                            class="form-control number all"
                            name="all_2022"
                            v-model="all_2022"
                            @change="getTotalAll"
                          />
                        </td>
                        <td style="pointer-events:none">
                          <input
                            type="number"
                            placeholder
                            class="form-control number ad"
                            name="ad_2022"
                            v-model="ad_2022"
                            @change="getTotalAd"
                          />
                        </td>
                      </tr>-->
                      <tr>
                        <td>Total</td>
                        <td>
                          <span id="nep_total">{{totalNep}}</span>
                        </td>
                        <td>
                          <span id="all_total">{{totalAllocated}}</span>
                        </td>
                        <td>
                          <span id="ad_total">{{totalAmountDisbursed}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import store from "../../store/storetodb";

export default {
  name: "financialaccomplishments",
  props:["projects", "fa_projects"],
  data() {
    return {
      papCode: "",
      selectedCategory: "",
      tier1Uacs: "",
      selectedTier2Option: "",
      tier2Uacs: "",
      nep_2017: 0,
      nep_2018: 0,
      nep_2019: 0,
      nep_2020: 0,
      nep_2021: 0,
      nep_2022: 0,
      all_2017: 0,
      all_2018: 0,
      all_2019: 0,
      all_2020: 0,
      all_2021: 0,
      all_2022: 0,
      ad_2017: 0,
      ad_2018: 0,
      ad_2019: 0,
      ad_2020: 0,
      ad_2021: 0,
      ad_2022: 0,
      totalNep: 0,
      totalAllocated: 0,
      totalAmountDisbursed: 0,
      categories: [{ id: 1, name: "Tier 1" }, { id: 2, name: "Tier 2" }],
      tier2options: [{ id: 1, name: "New" }, { id: 2, name: "Expanded" }]
    };
  },
  mounted() {
    if (this.projects != undefined) {
      this.papCode = this.projects.papcode
      if (this.projects.category == "Tier 1") {
        this.selectedCategory = { id: 1, name: "Tier 1" }
      }
      if (this.projects.category == "Tier 2") {
        this.selectedCategory = { id: 2, name: "Tier 2" }
      }
      if (this.projects.tier2_type == "New") {
        this.selectedTier2Option = { id: 1, name: "New" }
      }
      if (this.projects.tier2_type == "Expanded") {
        this.selectedTier2Option = { id: 2, name: "Expanded" }
      }
      this.tier1Uacs = this.projects.tier1_uacs
      this.tier2Uacs = this.projects.tier2_uacs
      this.fa_projects.forEach(e => {
        if (e.fayear === 2017) {
          this.nep_2017 = e.facost_nep != '' ?  e.facost_nep : 0
          this.all_2017 = e.facost_all != '' ?  e.facost_all : 0
          this.ad_2017 = e.facost_ad != '' ?  e.facost_ad : 0
        }
        if (e.fayear === 2018) {
          this.nep_2018 = e.facost_nep != '' ?  e.facost_nep : 0
          this.all_2018 = e.facost_all != '' ?  e.facost_all : 0
          this.ad_2018 = e.facost_ad != '' ?  e.facost_ad : 0
        }
        if (e.fayear === 2019) {
          this.nep_2019 = e.facost_nep != '' ?  e.facost_nep : 0
          this.all_2019 = e.facost_all != '' ?  e.facost_all : 0
          this.ad_2019 = e.facost_ad != '' ?  e.facost_ad : 0
        }
        if (e.fayear === 2020) {
          this.nep_2020 = e.facost_nep != '' ?  e.facost_nep : 0
          this.all_2020 = e.facost_all != '' ?  e.facost_all : 0
          this.ad_2020 = e.facost_ad != '' ?  e.facost_ad : 0
        }
      });
    }
  },
  computed: {
    selectedFundingSource() {
      return store.state.selectedFundingSource
    }
  },
  methods: {
    getTotalNep() {
      this.nep_2017 = parseFloat(this.nep_2017, 10);
      this.nep_2018 = parseFloat(this.nep_2018, 10);
      this.nep_2019 = parseFloat(this.nep_2019, 10);
      this.nep_2020 = parseFloat(this.nep_2020, 10);
      this.nep_2021 = parseFloat(this.nep_2021, 10);
      this.nep_2022 = parseFloat(this.nep_2022, 10);
      this.totalNep =
        this.nep_2017 +
        this.nep_2018 +
        this.nep_2019 +
        this.nep_2020 +
        this.nep_2021 +
        this.nep_2022;
    },
    getTotalAll() {
      this.all_2017 = parseFloat(this.all_2017, 10);
      this.all_2018 = parseFloat(this.all_2018, 10);
      this.all_2019 = parseFloat(this.all_2019, 10);
      this.all_2020 = parseFloat(this.all_2020, 10);
      this.all_2021 = parseFloat(this.all_2021, 10);
      this.all_2022 = parseFloat(this.all_2022, 10);
      this.totalAllocated =
        this.all_2017 +
        this.all_2018 +
        this.all_2019 +
        this.all_2020 +
        this.all_2021 +
        this.all_2022;
    },
    getTotalAd() {
      this.ad_2017 = parseFloat(this.ad_2017, 10);
      this.ad_2018 = parseFloat(this.ad_2018, 10);
      this.ad_2019 = parseFloat(this.ad_2019, 10);
      this.ad_2020 = parseFloat(this.ad_2020, 10);
      this.ad_2021 = parseFloat(this.ad_2021, 10);
      this.ad_2022 = parseFloat(this.ad_2022, 10);
      this.totalAmountDisbursed =
        this.ad_2017 +
        this.ad_2018 +
        this.ad_2019 +
        this.ad_2020 +
        this.ad_2021 +
        this.ad_2022;
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.savetostore();
          return;
        }

        // alert("Fill up the required fields! Financial Accomplishments");
      });
    },
    savetostore(btn) {
      store.dispatch("UpdateFinancialAccomplishData", {
        papCode: this.papCode,
        selectedCategory: this.selectedCategory,
        tier1Uacs: this.tier1Uacs,
        selectedTier2Option: this.selectedTier2Option,
        tier2Uacs: this.tier2Uacs,
        nep_2017: this.nep_2017,
        nep_2018: this.nep_2018,
        nep_2019: this.nep_2019,
        nep_2020: this.nep_2020,
        nep_2021: this.nep_2021,
        nep_2022: this.nep_2022,
        all_2017: this.all_2017,
        all_2018: this.all_2018,
        all_2019: this.all_2019,
        all_2020: this.all_2020,
        all_2021: this.all_2021,
        all_2022: this.all_2022,
        ad_2017: this.ad_2017,
        ad_2018: this.ad_2018,
        ad_2019: this.ad_2019,
        ad_2020: this.ad_2020,
        ad_2021: this.ad_2021,
        ad_2022: this.ad_2022,
        totalNep: this.totalNep,
        totalAllocated: this.totalAllocated,
        totalAmountDisbursed: this.totalAmountDisbursed
      });
    }
  }
};
</script>

<style>
</style>
