<template>
  <div name="fundingsource">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h4>
          Source of Financing and Mode of Implementation
          <i class="fas fa-flag flag_tomato"></i>
          <br />
          <small class="text-primary">In exact amount in PhP</small>
        </h4>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-12 form-control-label">Source of Financing</label>
          <div class="col-sm-12 offset-2" v-for="fundingsource in fundingsources" 
          :key="fundingsource.fsource_no">
            <!-- <multiselect
              v-model="selectedFundingSource"
              :options="fundingsources"
              :multiple="false"
              :close-on-select="true"
              :clear-on-select="true"
              :preserve-search="false"
              placeholder="Single Selection"
              track-by="fsource_description"
              label="fsource_description"
              :preselect-first="false"
              :hide-selected="false"
              @select="getMode"
            ></multiselect> -->
            <input type="checkbox" name="Source of Financing" :id="fundingsource.fsource_no" 
            :value="fundingsource.fsource_no" class="form-control-custom"
            v-model="selectedFundingSource" v-validate="'required'" @change="checkStartDate">
            <label :for="fundingsource.fsource_no">{{fundingsource.fsource_description}}</label>
          </div>
          <div class="col-sm-12 offset-2">
            <span class="text-danger">{{ errors.first('Source of Financing')}}</span>
          </div>
          <div class="col-sm-2" v-if="selectedFundingSource.includes(7)">&nbsp;</div>
          <div class="col-sm-10" v-if="selectedFundingSource.includes(7)">
            <input
              type="text"
              class="form-control"
              placeholder="Other Funding Source"
              v-model="otherFundingSource"
              v-validate="'required'"
              name="Other_Funding_Source"
            />
            <span class="text-danger">{{ errors.first('Other_Funding_Source')}}</span>
          </div>
          <label class="col-sm-2 form-control-label"
          v-if="selectedFundingSource.includes(6)">Other Funding Source</label>
          <div class="col-sm-10" v-if="selectedFundingSource.includes(6)">
            <input type="text" class="form-control" name="other_fs" v-model="other_fs">
          </div>
          <label
            class="col-sm-2 form-control-label"
            v-if="selectedFundingSource.includes(2) || selectedFundingSource.includes(3)"
          >ODA Funding Institutions</label>
          <div
            class="col-sm-10"
            v-if="selectedFundingSource.includes(2) || selectedFundingSource.includes(3)"
          >
            <multiselect
              v-model="selectedODAFunding"
              :options="fundings"
              :multiple="true"
              :close-on-select="true"
              :clear-on-select="true"
              :preserve-search="false"
              placeholder="Single or Multiple Selection"
              track-by="fsource_description"
              label="fsource_description"
              :preselect-first="false"
              :hide-selected="true"
              name="ODA Funding Institutions"
              v-validate="'required'"
            ></multiselect>
            <span class="text-danger">{{ errors.first('ODA Funding Institutions') }}</span>
          </div>
          <label class="col-sm-2 form-control-label">
            Mode of Implementation/
            <br />Procurement
          </label>
          <div class="col-sm-10">
            <multiselect
              v-model="selectedModeofImplementation"
              :options="modeOptions"
              :multiple="false"
              :close-on-select="true"
              :clear-on-select="true"
              :preserve-search="false"
              placeholder="Single Selection"
              track-by="mode_description"
              label="mode_description"
              :preselect-first="false"
              :hide-selected="false"
              :allowEmpty="false"
              name="Mode of Implementation"
              v-validate="'required'"
            ></multiselect>
            <span class="text-danger">{{ errors.first('Mode of Implementation') }}</span>
          </div>
          <div class="col-sm-2" v-if="selectedModeofImplementation.mode_no == 78">&nbsp;</div>
          <div class="col-sm-10" v-if="selectedModeofImplementation.mode_no == 78">
            <input type="text" class="form-control" placeholder="Other Mode" v-model="otherMode"
            v-validate="'required'" name="Other_Mode"
            />
            <span class="text-danger">{{ errors.first('Other_Mode') }}</span>
          </div>
          <!-- <label
            class="col-sm-2 form-control-label"
            v-if="selectedModeofImplementation.mode_no == 75"
          >ODA Act. Funding Institutions</label>
          <div class="col-sm-10" v-if="selectedModeofImplementation.mode_no == 75">
            <multiselect
              v-model="selectedODAActFunding"
              :options="fundings"
              :multiple="true"
              :close-on-select="true"
              :clear-on-select="true"
              :preserve-search="false"
              placeholder="Single or Multiple Selection"
              track-by="fsource_description"
              label="fsource_description"
              :preselect-first="false"
              :hide-selected="true"
              name="ODA_Act_Funding"
              v-validate="'required'"
            ></multiselect>
            <span class="text-danger">{{ errors.first('ODA_Act_Funding') }}</span>
          </div> -->
        </div>
      </div>
      <div class="card-footer">
        <cost :it_projects="it_projects" :fundingsource="selectedFundingSource" ref="cost"></cost>
        <!-- <projectcost :regionalcost="regionalcost" ref="projectcost"></projectcost> -->
        <financialaccomplishments v-if="selectedFundingSource.fsource_no === 1"></financialaccomplishments>
      </div>
    </div>
  </div>
</template>

<script>
import cost from "./Cost.vue";
import projectcost from "./ProjectCost.vue";
import financialaccomplishments from "./FinancialAccomplish.vue";
import store from "../../store/storetodb";

const mapModes = new Map();

export default {
  name: "fundingsource",
  props: [
    "fundingsources", 
    "modes", 
    "fundings", 
    "projects", 
    "financesourceprojects", 
    "f_projects",
    "it_projects",
    "regionalcost"
    ],
  components: { projectcost, financialaccomplishments, cost },
  data() {
    return {
      selectedFundingSource: [],
      selectedModeofImplementation: "",
      // selectedODAActFunding: "",
      selectedODAFunding: "",
      otherFundingSource: "",
      otherMode: "",
      modeOptions: [],
      other_fs: ""
    };
  },
  computed: {
    startDate: function() {
      return store.state.startYear;
    }
  },
  mounted () {
    if (this.projects != undefined) {
      this.other_fs = this.projects.other_fs
      this.otherMode = this.projects.other_mode
      this.modes.forEach(e => {
        if (e.mode_no == this.projects.modeofimplementation) {
          setTimeout(() => {
            this.selectedModeofImplementation = e
          }, 500);
        }
      })
    }
    if (this.financesourceprojects != undefined) {
      this.financesourceprojects.forEach(e => {
        this.selectedFundingSource.push(e.fsource_id)
      });
    }
    if (this.f_projects != undefined) {
      this.selectedODAFunding = this.f_projects
    }
  },
  watch: {
    selectedModeofImplementation: function() {
      if (this.selectedModeofImplementation.mode_no != 75) {
        this.selectedODAActFunding = "";
      }
      if (this.selectedModeofImplementation.mode_no != 78) {
        this.otherMode = "";
      }
    },
    selectedFundingSource: function(val) {
      mapModes.clear()
      this.modeOptions = []
      this.selectedModeofImplementation = ''
      this.getMode(val)
      this.savetostore()
    }
  },
  methods: {
    getMode(val) {
      if (this.selectedFundingSource.includes(1)) {
        setTimeout(() => {
          this.modes.forEach(e => {
          if (!mapModes.has(e.mode_no) && e.mode_no === 74) {
            mapModes.set(e.mode_no, true)
            this.modeOptions.push(e);
          }
        });
        }, 500);
      }
      if (this.selectedFundingSource.includes(2) || this.selectedFundingSource.includes(3)) {
        setTimeout(() => { 
          this.modes.forEach(e => {
            if (!mapModes.has(e.mode_no) && e.mode_no === 74) {
              mapModes.set(e.mode_no, true)
              this.modeOptions.push(e);
            }
            if (!mapModes.has(e.mode_no) && e.mode_no === 75) {
              mapModes.set(e.mode_no, true)
              this.modeOptions.push(e);
            }
            if (!mapModes.has(e.mode_no) && e.mode_no === 78) {
              mapModes.set(e.mode_no, true)
              this.modeOptions.push(e);
            }
          });
        }, 500);
      }
      if (this.selectedFundingSource.includes(4)) {
        setTimeout(() => {
          this.modes.forEach(e => {
            if (!mapModes.has(e.mode_no) && e.mode_no === 74) {
              mapModes.set(e.mode_no, true)
              this.modeOptions.push(e);
            }
          })
        }, 500);
      }
      if (this.selectedFundingSource.includes(6)) {
        setTimeout(() => {
          this.modes.forEach(e => {
            if (!mapModes.has(e.mode_no) && e.mode_no === 74) {
              mapModes.set(e.mode_no, true)
              this.modeOptions.push(e);
            }
            // if (!mapModes.has(e.mode_no) && e.mode_no === 77) {
            //   mapModes.set(e.mode_no, true)
            //   this.modeOptions.push(e);
            // }
            // if (!mapModes.has(e.mode_no) && e.mode_no === 78) {
            //   mapModes.set(e.mode_no, true)
            //   this.modeOptions.push(e);
            // }
          })
        }, 500);
      }
      if (this.selectedFundingSource.includes(5)) {
        setTimeout(() => {
          this.modes.forEach(e => {
            if (!mapModes.has(e.mode_no) && e.mode_no === 76) {
              mapModes.set(e.mode_no, true)
              this.modeOptions.push(e);
            }
            if (!mapModes.has(e.mode_no) && e.mode_no === 77) {
              mapModes.set(e.mode_no, true)
              this.modeOptions.push(e);
            }
          })
        }, 500);
      }
    },
    checkStartDate(){
      if (this.startDate === "") {
        alert('ERROR! Please select start of project implementation.')
        setTimeout(() => {
          this.selectedFundingSource.length = 0
        }, 500);
      }
    },
    validateBeforeSubmit() {
      this.$refs.cost.validateBeforeSubmit();
      this.$validator.validateAll().then(result => {
        if (result) {
          this.savetostore()
          return;
        }
        // alert("ERROR! Fill out the required fields!");
      });
    },
    savetostore(btn) {
      // this.$refs.projectcost.savetostore()
      this.$refs.cost.savetostore();
      store.dispatch('UpdateFundingSourceData', {
        selectedFundingSource: this.selectedFundingSource,
        selectedModeofImplementation: this.selectedModeofImplementation,
        selectedODAActFunding: this.selectedODAActFunding,
        selectedODAFunding: this.selectedODAFunding,
        otherFundingSource: this.otherFundingSource,
        otherMode: this.otherMode,
        other_fs: this.other_fs
      })
    }
  }
};
</script>

<style>
</style>
