<template>
  <div name="genericdatepickeredit">
    <v-layout row wrap>
      <v-flex xs11 sm5>
        <v-menu
          ref="menu"
          v-model="menu"
          :close-on-content-click="false"
          :nudge-right="40"
          :return-value.sync="date"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field v-model="date" :label="label" prepend-icon="event" readonly v-on="on"></v-text-field>
          </template>
          <v-date-picker v-model="date" type="month" no-title :min="dateMinimum" :max="dateMaximum">
            <v-spacer></v-spacer>
            <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
            <v-btn flat color="primary" @click="savedata(date)">OK</v-btn>
          </v-date-picker>
        </v-menu>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import store from "../../store/storetodb";

export default {
  name: "genericdatepickeredit",
  props: ["type", "start"],
  data() {
    return {
      // date: new Date().toISOString().substr(0, 4),
      date: new Date().toISOString().substr(0, 7),
      dateMinimum: "",
      dateMaximum: "",
      menu: false,
      modal: false
    };
  },
  computed: {
    label() {
      if (this.type == "startimplementation") {
        return "Start of Project Implementation";
      }
      if (this.type == "endimplementation") {
        return "Year of Project Completion";
      }
    }
  },
  watch: {
    start: function() {
      this.date = this.start
    }
  },
  methods: {
    savedata(date) {
      this.$refs.menu.save(date);
      if (this.type == "startimplementation") {
        this.$emit("updateStartDate", this.date);
      }
    }
  },
  mounted() {
    if (this.type == "startimplementation") {
      this.dateMinimum = "2016-01";
      this.dateMaximum = "2023-12";
    }
  }
};
</script>

<style>
</style>
