<template>
  <div name="infrastructuresector">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h5>Infrastructure Sector / Subsector
           <i class="fas fa-flag flag_tomato"></i>
        </h5>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <div class="col-sm-2">
            <label class="form-control-label">Infrastructure Sector
               <i class="fas fa-flag flag_tomato"></i>
            </label>
          </div>
          <div class="col-sm-10">
            <multiselect
              v-model="selectedSector1"
              :options="sectors"
              :multiple="true"
              :close-on-select="false"
              :clear-on-select="false"
              :preserve-search="true"
              placeholder="Single or Multiple Selection"
              track-by="sector"
              :preselect-first="false"
              :hide-selected="false"
              label="sector"
              @select="getSubsector"
              @remove="removeSector"
              name="Infrastructure_Sector"
              v-validate="'required'"
            ></multiselect>
            <span class="text-danger">{{ errors.first('Infrastructure_Sector') }}</span>
          </div>
          <div class="col-sm-2">
            <label class="form-control-label">Infrastructure Subsectors</label>
          </div>
          <div class="col-sm-10">
            <multiselect
              v-model="selectedSubSector1"
              :options="subs"
              :multiple="true"
              :close-on-select="false"
              :clear-on-select="false"
              :preserve-search="true"
              placeholder="Single or Multiple Selection"
              track-by="subsector"
              :preselect-first="false"
              :hide-selected="false"
              label="subsector"
              @select="updateSelectedSubSector"
              name="Infrastructure_Subsectors"
            ></multiselect>
            <!-- <span class="text-danger">{{ errors.first('Infrastructure_Subsectors') }}</span> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import store from "../../store/storetodb";
export default {
  name: "infrastructuresector",
  props: ["sectors", "subsectors", "sector_projects", "subsector_projects"],
  data() {
    return {
      selectedSector1: "",
      selectedSubSector1: "",
      subs: []
    };
  },
  computed: {
    selectedSector(){
      return store.state.selectedSector
    },
    selectedSubSector() {
      return store.state.selectedSubSector
    }
  },
  watch: {
    selectedSector: function() {
      this.selectedSector1 = this.selectedSector
    },
    selectedSubSector() {
      this.selectedSubSector1 = this.selectedSubSector
    }
  },
  mounted(){
    this.selectedSector1 = this.selectedSector
    this.selectedSubSector1 = this.selectedSubSector
    if (this.sector_projects != '') {
      this.selectedSector1 = this.sector_projects
    }
    if (this.subsector_projects != '') {
      this.selectedSubSector1 = this.subsector_projects
    }
  },
  methods: {
    getSubsector(sector) {
      if (sector.id == 1) {
        this.subsectors.forEach(e => {
          if (e.sector == 1) {
            this.subs.push(e);
          }
        });
      } else if (sector.id == 3) {
        this.subsectors.forEach(e => {
          if (e.sector == 3) {
            this.subs.push(e);
          }
        });
      } else if (sector.id == 4) {
        this.subsectors.forEach(e => {
          if (e.sector == 4) {
            this.subs.push(e);
          }
        });
      } else if (sector.id == 6) {
        this.subsectors.forEach(e => {
          if (e.sector == 6) {
            this.subs.push(e);
          }
        });
      }
      setTimeout(() => {
        store.dispatch("UpdateInfraSectors", {
            selectedSector: this.selectedSector1,
            selectedSubSector: this.selectedSubSector1
          });
      }, 500);
    },
    removeSector(sec) {
      this.selectedSubSector1 = [];
      this.subs = [];
      setTimeout(() => {
        this.selectedSector1.forEach(el => {
          if (el.id == 1) {
            this.subsectors.forEach(e => {
              if (e.sector == 1) {
                this.subs.push(e);
              }
            });
          } else if (el.id == 3) {
            this.subsectors.forEach(e => {
              if (e.sector == 3) {
                this.subs.push(e);
              }
            });
          } else if (el.id == 4) {
            this.subsectors.forEach(e => {
              if (e.sector == 4) {
                this.subs.push(e);
              }
            });
          } else if (el.id == 6) {
            this.subsectors.forEach(e => {
              if (e.sector == 6) {
                this.subs.push(e);
              }
            });
          }
        });
      }, 500);
      setTimeout(() => {
        store.dispatch("UpdateInfraSectors", {
            selectedSector: this.selectedSector1,
            selectedSubSector: this.selectedSubSector1
          });
      }, 500);
    },
    updateSelectedSubSector() {
      setTimeout(() => {
        store.dispatch("UpdateInfraSectors", {
            selectedSector: this.selectedSector1,
            selectedSubSector: this.selectedSubSector1
          });
      }, 1000);
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.savetostore()
          return;
        }

        alert("Fill up the required fields! Infrastructure Sectors");
      });
    },
    savetostore() {
      store.dispatch("UpdateInfraSectors", {
        selectedSector: this.selectedSector1,
        selectedSubSector: this.selectedSubSector1
      });
    }
  }
};
</script>

<style>
</style>
