<template>
  <div name="levelofapproval">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h5>
          Level of Approval
          <i class="fas fa-flag flag_tomato"></i>
          <br/>
          <small class="text-primary">Please provide status of ICC/NEDA Board processing.</small>
        </h5>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <div class="col-sm-12">
            <div class="col-sm-12">
              <!-- <label class="text-primary">Please provide status of ICC/NEDA Board processing</label> -->
                  <div class="i-checks">
                    <input
                      id="ICCNBradio1"
                      type="radio"
                      value="1"
                      class="form-control-custom radio-custom form-check-input"
                      v-model="levelofApproval"
                      @click="UpdateDatePicker1"
                      name="level_of_approval"
                      v-validate="'required'"
                    />
                    <label for="ICCNBradio1">Yet to be submitted to the NEDA Secretariat</label>
                    <datepicker
                      type="ICCNBradio1"
                      @created="createdDatePicker"
                      v-if="levelofApproval == 1"
                      :editdate="editdate"
                    ></datepicker>
                    <br />
                    <input
                      id="ICCNBradio2"
                      type="radio"
                      value="2"
                      class="form-control-custom radio-custom form-check-input"
                      v-model="levelofApproval"
                      @click="UpdateDatePicker2"
                      name="level_of_approval"
                      v-validate="'required'"
                    />
                    <label for="ICCNBradio2">Under the NEDA Secretariat Review</label>
                    <datepicker
                      type="ICCNBradio2"
                      @created="createdDatePicker"
                      v-if="levelofApproval == 2"
                      :editdate="editdate"
                    ></datepicker>
                    <br />
                    <input
                      id="ICCNBradio3"
                      type="radio"
                      value="3"
                      class="form-control-custom radio-custom form-check-input"
                      v-model="levelofApproval"
                      @click="UpdateDatePicker3"
                      name="level_of_approval"
                      v-validate="'required'"
                    />
                    <label for="ICCNBradio3">ICC-TB Endorsed</label>
                    <datepicker
                      type="ICCNBradio3"
                      @created="createdDatePicker"
                      v-if="levelofApproval == 3"
                      :editdate="editdate"
                    ></datepicker>
                    <br />
                    <input
                      id="ICCNBradio4"
                      type="radio"
                      value="4"
                      class="form-control-custom radio-custom form-check-input"
                      v-model="levelofApproval"
                      @click="UpdateDatePicker4"
                      name="level_of_approval"
                      v-validate="'required'"
                    />
                    <label for="ICCNBradio4">ICC-CC Approved</label>
                    <datepicker
                      type="ICCNBradio4"
                      @created="createdDatePicker"
                      v-if="levelofApproval == 4"
                      :editdate="editdate"
                    ></datepicker>
                    <br />
                    <input
                      id="ICCNBradio5"
                      type="radio"
                      value="5"
                      class="form-control-custom radio-custom form-check-input"
                      v-model="levelofApproval"
                      @click="UpdateDatePicker5"
                      name="level_of_approval"
                      v-validate="'required'"
                    />
                    <label for="ICCNBradio5">NEDA Board Confirmed</label>
                    <datepicker
                      type="ICCNBradio5"
                      @created="createdDatePicker"
                      v-if="levelofApproval == 5"
                      :editdate="editdate"
                    ></datepicker>
                  </div>
                  <span class="text-danger">{{ errors.first('level_of_approval') }}</span>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import datepicker from "./DatePicker.vue";
import store from "../../store/storetodb";

export default {
  name: "levelofapproval",
  components: {
    datepicker
  },
  props:['projects'],
  data() {
    return {
      approval: [
        {
          id: 1,
          name:
            "Will require Investment Coordination Committee/NEDA Board Approval (ICC-able)?"
        },
        {
          id: 2,
          name: "Not Applicable"
        }
      ],
      levelofApproval: "",
      date: "",
      editdate:''
    };
  },
  mounted() {
    if (this.projects != null) {
      if (this.projects.currentlevel == "Yet to be submitted to NEDA Secretariat") {
        this.levelofApproval = 1
        this.editdate = this.projects.approval_date1
      }
      if (this.projects.currentlevel == "Under the NEDA Secretariat Review") {
        this.levelofApproval = 2
        this.editdate = this.projects.approval_date2
      }
      if (this.projects.currentlevel == "ICC-TB Endorsed") {
        this.levelofApproval = 3
        this.editdate = this.projects.approval_date3
      }
      if (this.projects.currentlevel == "ICC-CC Approved") {
        this.levelofApproval = 4
        this.editdate = this.projects.approval_date4
      }
      if (this.projects.currentlevel == "NEDA Board Confirmed") {
        this.levelofApproval = 5
        this.editdate = this.projects.approval_date5
      }
    }
  },
  methods: {
    UpdateDatePicker1() {
      this.levelofApproval = 1;
      // setTimeout(() => {
      //   store.dispatch("UploadCurrentDate", {
      //     level: this.levelofApproval,
      //     date: this.date
      //   });
      // }, 500);
      this.validateBeforeSubmit()
    },
    UpdateDatePicker2() {
      this.levelofApproval = 2;
      // setTimeout(() => {
      //   store.dispatch("UploadCurrentDate", {
      //     level: this.levelofApproval,
      //     date: this.date
      //   });
      // }, 1000);
      this.validateBeforeSubmit()
    },
    UpdateDatePicker3() {
      this.levelofApproval = 3;
      // setTimeout(() => {
      //   store.dispatch("UploadCurrentDate", {
      //     level: this.levelofApproval,
      //     date: this.date
      //   });
      // }, 1000);
      this.validateBeforeSubmit()
    },
    UpdateDatePicker4() {
      this.levelofApproval = 4;
      // setTimeout(() => {
      //   store.dispatch("UploadCurrentDate", {
      //     level: this.levelofApproval,
      //     date: this.date
      //   });
      // }, 1000);
      this.validateBeforeSubmit()
    },
    UpdateDatePicker5() {
      this.levelofApproval = 5;
      // setTimeout(() => {
      //   store.dispatch("UploadCurrentDate", {
      //     level: this.levelofApproval,
      //     date: this.date
      //   });
      // }, 1000);
      this.validateBeforeSubmit()
    },
    createdDatePicker(date) {
      this.date = date;
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.savetostore()
          return;
        }

        alert("Fill up the required fields! Level of Approval");
      });
    },
    savetostore() {
      store.dispatch('UpdateLevelOfApprovalData', {
        levelofApproval: this.levelofApproval,
        levelofapprovaldate: this.date,
      })
    }
  },
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
