<template>
  <div name="levelofgad">
    <!-- <div class="col-lg-12"> -->
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h5>
          Level of GAD Responsiveness
          <br />
          <small class="text-primary">
            Based on the score of the program/ project using the GAD checklist accessible through this
            <a
              href="/storage/QF-ICC-CS-01-14-ICC-Checklist-for-ODA-and-LFP.docx"
              target="_blank"
            >
              <u>link</u>
            </a>, kindly identify the GAD responsiveness of the program/project.
          </small>
        </h5>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <div class="col-sm-10">
            <div class="i-checks gadRbtn" v-for="level in levels" :key="level.level_id">
              <input
                :id="`radioCustomLevel${level.level_id}`"
                type="radio"
                :value="level.level_id"
                name="Gender"
                class="form-control-custom radio-custom form-check-input"
                v-model="selectedLevel"
                v-validate="'required'"
              />
              <label :for="`radioCustomLevel${level.level_id }`">{{ level.level_description }}</label>
            </div>
            <span class="text-danger">{{ errors.first('Gender') }}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</template>

<script>
import store from "../../store/storetodb";

export default {
  name: "levelofgad",
  props:['projects'],
  data() {
    return {
      levels: "",
      selectedLevel: ""
    };
  },
  mounted() {
    this.getLevels();
    if (this.projects != undefined) {
      this.selectedLevel = this.projects.gender
    }
  },
  methods: {
    getLevels() {
      axios
        .post("getLevelsOfGAD")
        .then(res => {
          this.levels = res.data;
        })
        .catch(err => {
          console.error(err);
        });
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.savetostore();
          return;
        }

        alert("Fill up the required fields! GAD");
      });
    },
    savetostore() {
      store.dispatch("UpdateLevelOfGadData", {
        selectedLevelofGad: this.selectedLevel
      });
    }
  }
};
</script>

<style>
</style>
