<template>
<div name="physicalacc" class="col-sm-12">
  <v-layout row wrap>
    <v-flex xs11 sm5>
      <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        :nudge-right="40"
        :return-value.sync="date"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        max-width="290px"
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="date"
            :label="label"
            prepend-icon="event"
            readonly
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="date" type="date" no-title scrollable>
          <v-spacer></v-spacer>
          <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
          <v-btn flat color="primary" @click="savedata(date)">OK</v-btn>
        </v-date-picker>
      </v-menu>
    </v-flex>
  </v-layout>
</div>
</template>

<script>

export default {
    name: "physicalacc",
  data() {
    return {
      date: new Date().toISOString().substr(0, 10),
      menu: false,
      modal: false,
    };
  },
  computed: {
    label() {
      return "Completion Date"
    }
  },
  methods: {
    savedata(date) {
      this.$refs.menu.save(date)
      this.$emit('updateDate', this.date)
    },
  },
  mounted() {
    this.$emit('created', this.date)
  },
};
</script>

<style>
</style>
