<template>
  <div name="projectcost">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h4>
          Regional Breakdown
          <br />
          <small class="text-primary">In exact amount in PhP</small>
        </h4>
      </div>
      <div class="card-body">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Region</th>
                    <th>2016 and Prior</th>
                    <th>2017</th>
                    <th>2018</th>
                    <th>2019</th>
                    <th>2020</th>
                    <th>2021</th>
                    <th>2022</th>
                    <!-- <th>2017-2022</th> -->
                    <th>Continuing Years</th>
                    <!-- <th>Overall Total</th> -->
                  </tr>
                </thead>
                <tbody id="rbBody">
                  <tr v-for="(region, index) in selectedInterregionals" :key="index">
                    <td>{{ region.region_description }}</td>
                    <td>
                      <input
                        type="number"
                        :class="`form-control`"
                        @blur="input2016(region)"
                        v-model="region.value2016"
                        :id="`2016${region.regional_code}`"
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        :class="`form-control`"
                        @blur="input2017(region)"
                        v-model="region.value2017"
                        :id="`2017${region.regional_code}`"
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        :class="`form-control`"
                        @blur="input2018(region)"
                        v-model="region.value2018"
                        :id="`2018${region.regional_code}`"
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        :class="`form-control`"
                        @blur="input2019(region)"
                        v-model="region.value2019"
                        :id="`2019${region.regional_code}`"
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        :class="`form-control`"
                        @blur="input2020(region)"
                        v-model="region.value2020"
                        :id="`2020${region.regional_code}`"
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        :class="`form-control`"
                        @blur="input2021(region)"
                        v-model="region.value2021"
                        :id="`2021${region.regional_code}`"
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        :class="`form-control`"
                        @blur="input2022(region)"
                        v-model="region.value2022"
                        :id="`2022${region.regional_code}`"
                      />
                    </td>
                    <!-- <td>
                      <span v-if="region.region_no === 1">{{ total1 }}</span>
                      <span v-if="region.region_no === 2">{{ total2 }}</span>
                      <span v-if="region.region_no === 3">{{ total3 }}</span>
                      <span v-if="region.region_no === 4">{{ total4 }}</span>
                      <span v-if="region.region_no === 5">{{ total5 }}</span>
                      <span v-if="region.region_no === 6">{{ total6 }}</span>
                      <span v-if="region.region_no === 7">{{ total7 }}</span>
                      <span v-if="region.region_no === 8">{{ total8 }}</span>
                      <span v-if="region.region_no === 9">{{ total9 }}</span>
                      <span v-if="region.region_no === 10">{{ total10 }}</span>
                      <span v-if="region.region_no === 11">{{ total11 }}</span>
                      <span v-if="region.region_no === 12">{{ total12 }}</span>
                      <span v-if="region.region_no === 13">{{ total13 }}</span>
                      <span v-if="region.region_no === 14">{{ total14 }}</span>
                      <span v-if="region.region_no === 15">{{ total15 }}</span>
                      <span v-if="region.region_no === 16">{{ total16 }}</span>
                      <span v-if="region.region_no === 17">{{ total17 }}</span>
                      <span v-if="region.region_no === 18">{{ total18 }}</span>
                    </td> -->
                    <td>
                      <input
                        type="number"
                        :class="`form-control`"
                        @blur="inputCont(region)"
                        v-model="region.valueCont"
                        :id="`2023${region.regional_code}`"
                      />
                    </td>
                    <!-- <td>
                      <span v-if="region.region_no === 1">{{ oTotal1 }}</span>
                      <span v-if="region.region_no === 2">{{ oTotal2 }}</span>
                      <span v-if="region.region_no === 3">{{ oTotal3 }}</span>
                      <span v-if="region.region_no === 4">{{ oTotal4 }}</span>
                      <span v-if="region.region_no === 5">{{ oTotal5 }}</span>
                      <span v-if="region.region_no === 6">{{ oTotal6 }}</span>
                      <span v-if="region.region_no === 7">{{ oTotal7 }}</span>
                      <span v-if="region.region_no === 8">{{ oTotal8 }}</span>
                      <span v-if="region.region_no === 9">{{ oTotal9 }}</span>
                      <span v-if="region.region_no === 10">{{ oTotal10 }}</span>
                      <span v-if="region.region_no === 11">{{ oTotal11 }}</span>
                      <span v-if="region.region_no === 12">{{ oTotal12 }}</span>
                      <span v-if="region.region_no === 13">{{ oTotal13 }}</span>
                      <span v-if="region.region_no === 14">{{ oTotal14 }}</span>
                      <span v-if="region.region_no === 15">{{ oTotal15 }}</span>
                      <span v-if="region.region_no === 16">{{ oTotal16 }}</span>
                      <span v-if="region.region_no === 17">{{ oTotal17 }}</span>
                      <span v-if="region.region_no === 18">{{ oTotal18 }}</span>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import regionalbreakdown from "./RegionalBreakdown.vue";
import store from "../../store/storetodb";

const mapRegion = new Map()

export default {
  name: "projectcost",
  props: ["fundingsource", "it_projects", "selectedRegions", "selectedRegionsRegional", "regionalcost",
    'selectedCoverage'],
  data() {
    return {
      regions: [],
      selectedInterregionals:[],
      updatedRegionInput:"",
      total1:0,
      total2:0,
      total3:0,
      total4:0,
      total5:0,
      total6:0,
      total7:0,
      total8:0,
      total9:0,
      total10:0,
      total11:0,
      total12:0,
      total13:0,
      total14:0,
      total15:0,
      total16:0,
      total17:0,
      total18:0,
      oTotal1:0,
      oTotal2:0,
      oTotal3:0,
      oTotal4:0,
      oTotal5:0,
      oTotal6:0,
      oTotal7:0,
      oTotal8:0,
      oTotal9:0,
      oTotal10:0,
      oTotal11:0,
      oTotal12:0,
      oTotal13:0,
      oTotal14:0,
      oTotal15:0,
      oTotal16:0,
      oTotal17:0,
      oTotal18:0,
    };
  },
  watch: {
    selectedCoverage: function(val) {
      setTimeout(() => {
       mapRegion.clear()
        this.selectedInterregionals.length = 0
        if (val.name == 'Nationwide') {
          this.regions.forEach(e => {
            // e.Total = 0
            e.Total16to22 = 0
            e.value2016 = 0
            e.value2017 = 0
            e.value2018 = 0
            e.value2019 = 0
            e.value2020 = 0
            e.value2021 = 0
            e.value2022 = 0
            e.valueCont = 0
            this.selectedInterregionals.push(e)
          });
        }
      }, 1000);
    },
    selectedRegions: function(val) {
      setTimeout(() => {
        if (val.length != 0) {
          mapRegion.clear()
          this.selectedInterregionals.length = 0
          val.forEach(e => {
            let op = this.regions.filter(data => (data.region_no == e.region_no))
            // op[0].Total = 0
            op[0].Total16to22 = 0
            op[0].value2016 = 0
            op[0].value2017 = 0
            op[0].value2018 = 0
            op[0].value2019 = 0
            op[0].value2020 = 0
            op[0].value2021 = 0
            op[0].value2022 = 0
            op[0].valueCont = 0
            if (!mapRegion.has(op[0].region_no)) {
              mapRegion.set(op[0].region_no, true)
              this.selectedInterregionals.push(op.pop())
            }
          });
        }
      }, 1000);
    },
    selectedRegionsRegional: function(val) {
      setTimeout(() => {
        if (val != "") {
            mapRegion.clear()
            this.selectedInterregionals.length = 0
            let op = this.regions.filter(data => (data.region_no == val.region_no))
            // op[0].Total = 0
            op[0].Total16to22 = 0
            op[0].value2016 = 0
            op[0].value2017 = 0
            op[0].value2018 = 0
            op[0].value2019 = 0
            op[0].value2020 = 0
            op[0].value2021 = 0
            op[0].value2022 = 0
            op[0].valueCont = 0
            if (!mapRegion.has(op[0].region_no)) {
              mapRegion.set(op[0].region_no, true)
              this.selectedInterregionals.push(op.pop())
            }
        }
      }, 1000);
    },
    updatedRegionInput: function() {
      // if (this.updatedRegionInput.region_no === 1) {
      //   this.total1 = this.updatedRegionInput.Total
      //   this.oTotal1 = this.updatedRegionInput.Total16to22
      // }else if (this.updatedRegionInput.region_no === 2) {
      //   this.total2 = this.updatedRegionInput.Total
      //   this.oTotal2 = this.updatedRegionInput.Total16to22
      // }else if (this.updatedRegionInput.region_no === 3) {
      //   this.total3 = this.updatedRegionInput.Total
      //   this.oTotal3 = this.updatedRegionInput.Total16to22
      // }else if (this.updatedRegionInput.region_no === 4) {
      //   this.total4 = this.updatedRegionInput.Total
      //   this.oTotal4 = this.updatedRegionInput.Total16to22
      // }else if (this.updatedRegionInput.region_no === 5) {
      //   this.total5 = this.updatedRegionInput.Total
      //   this.oTotal5 = this.updatedRegionInput.Total16to22
      // }else if (this.updatedRegionInput.region_no === 6) {
      //   this.total6 = this.updatedRegionInput.Total
      //   this.oTotal6 = this.updatedRegionInput.Total16to22
      // }else if (this.updatedRegionInput.region_no === 7) {
      //   this.total7 = this.updatedRegionInput.Total
      //   this.oTotal7 = this.updatedRegionInput.Total16to22
      // }else if (this.updatedRegionInput.region_no === 8) {
      //   this.total8 = this.updatedRegionInput.Total
      //   this.oTotal8 = this.updatedRegionInput.Total16to22
      // }else if (this.updatedRegionInput.region_no === 9) {
      //   this.total9 = this.updatedRegionInput.Total
      //   this.oTotal9 = this.updatedRegionInput.Total16to22
      // }else if (this.updatedRegionInput.region_no === 10) {
      //   this.total10 = this.updatedRegionInput.Total
      //   this.oTotal10 = this.updatedRegionInput.Total16to22
      // }else if (this.updatedRegionInput.region_no === 11) {
      //   this.total11 = this.updatedRegionInput.Total
      //   this.oTotal11 = this.updatedRegionInput.Total16to22
      // }else if (this.updatedRegionInput.region_no === 12) {
      //   this.total12 = this.updatedRegionInput.Total
      //   this.oTotal12 = this.updatedRegionInput.Total16to22
      // }else if (this.updatedRegionInput.region_no === 13) {
      //   this.total13 = this.updatedRegionInput.Total
      //   this.oTotal13 = this.updatedRegionInput.Total16to22
      // }else if (this.updatedRegionInput.region_no === 14) {
      //   this.total14 = this.updatedRegionInput.Total
      //   this.oTotal14 = this.updatedRegionInput.Total16to22
      // }else if (this.updatedRegionInput.region_no === 15) {
      //   this.total15 = this.updatedRegionInput.Total
      //   this.oTotal15 = this.updatedRegionInput.Total16to22
      // }else if (this.updatedRegionInput.region_no === 16) {
      //   this.total16 = this.updatedRegionInput.Total
      //   this.oTotal16 = this.updatedRegionInput.Total16to22
      // }else if (this.updatedRegionInput.region_no === 17) {
      //   this.total17 = this.updatedRegionInput.Total
      //   this.oTotal17 = this.updatedRegionInput.Total16to22
      // }else if (this.updatedRegionInput.region_no === 18) {
      //   this.total18 = this.updatedRegionInput.Total
      //   this.oTotal18 = this.updatedRegionInput.Total16to22
      // }
    }
  },
  mounted() {
    if (this.selectedRegionsRegional != [] || this.selectedRegions != []) {
      setTimeout(() => {
        this.selectedRegionsRegional.forEach(e => {
          e.value2016 = 0
          e.value2017 = 0
          e.value2018 = 0
          e.value2019 = 0
          e.value2020 = 0
          e.value2021 = 0
          e.value2022 = 0
          e.valueCont = 0
          this.selectedInterregionals.push(e)
        });
      }, 3000);
    }
    this.getRegions();
    if (this.regionalcost != undefined) {
      setTimeout(() => {
        this.regionalcost.forEach(e => {
          this.regions.forEach(el => {
            if (e.region == el.regional_code && e.year == 2016) {
              el.value2016 = parseFloat(e.cost, 10)
              document.getElementById(`2016${el.regional_code}`).value = parseFloat(e.cost, 10)
            }
            if (e.region == el.regional_code && e.year == 2017) {
              el.value2017 = parseFloat(e.cost, 10)
              document.getElementById(`2017${el.regional_code}`).value = parseFloat(e.cost, 10)
            }
            if (e.region == el.regional_code && e.year == 2018) {
              el.value2018 = parseFloat(e.cost, 10)
              document.getElementById(`2018${el.regional_code}`).value = parseFloat(e.cost, 10)
            }
            if (e.region == el.regional_code && e.year == 2019) {
              el.value2019 = parseFloat(e.cost, 10)
              document.getElementById(`2019${el.regional_code}`).value = parseFloat(e.cost, 10)
            }
            if (e.region == el.regional_code && e.year == 2020) {
              el.value2020 = parseFloat(e.cost, 10)
              document.getElementById(`2020${el.regional_code}`).value = parseFloat(e.cost, 10)
            }
            if (e.region == el.regional_code && e.year == 2021) {
              el.value2021 = parseFloat(e.cost, 10)
              document.getElementById(`2021${el.regional_code}`).value = parseFloat(e.cost, 10)
            }
            if (e.region == el.regional_code && e.year == 2022) {
              el.value2022 = parseFloat(e.cost, 10)
              document.getElementById(`2022${el.regional_code}`).value = parseFloat(e.cost, 10)
            }
            if (e.region == el.regional_code && e.year == 2023) {
              el.value2023 = parseFloat(e.cost, 10)
              document.getElementById(`2023${el.regional_code}`).value = parseFloat(e.cost, 10)
            }
          });
        });

      }, 3000);
    }
  },
  methods: {
    input2016(region){
        // region.Total = parseFloat(region.value2016, 10) + 
        //                parseFloat(region.value2017, 10) +
        //                parseFloat(region.value2018, 10) + 
        //                parseFloat(region.value2019, 10) + 
        //                parseFloat(region.value2020, 10) + 
        //                parseFloat(region.value2021, 10) + 
        //                parseFloat(region.value2022, 10)
        // region.Total16to22 = region.Total + parseFloat(region.valueCont, 10)
        // this.updatedRegionInput = {region_no: region.region_no, Total: region.Total, Total16to22: region.Total16to22 }
    },
    input2017(region){
        // region.Total = parseFloat(region.value2016, 10) + 
        //                parseFloat(region.value2017, 10) +
        //                parseFloat(region.value2018, 10) +
        //                parseFloat(region.value2019, 10) + 
        //                parseFloat(region.value2020, 10) + 
        //                parseFloat(region.value2021, 10) + 
        //                parseFloat(region.value2022, 10)
        // region.Total16to22 = region.Total + parseFloat(region.valueCont, 10)
        // this.updatedRegionInput = {region_no: region.region_no, Total: region.Total, Total16to22: region.Total16to22 }
    },
    input2018(region){
        // region.Total = parseFloat(region.value2016, 10) + 
        //                parseFloat(region.value2017, 10) +
        //                parseFloat(region.value2018, 10) +
        //                parseFloat(region.value2019, 10) + 
        //                parseFloat(region.value2020, 10) + 
        //                parseFloat(region.value2021, 10) + 
        //                parseFloat(region.value2022, 10)
        // region.Total16to22 = region.Total + parseFloat(region.valueCont, 10)
        // this.updatedRegionInput = {region_no: region.region_no, Total: region.Total, Total16to22: region.Total16to22 }
    },
    input2019(region){
        // region.Total = parseFloat(region.value2016, 10) + 
        //                parseFloat(region.value2017, 10) +
        //                parseFloat(region.value2018, 10) +
        //                parseFloat(region.value2019, 10) + 
        //                parseFloat(region.value2020, 10) + 
        //                parseFloat(region.value2021, 10) + 
        //                parseFloat(region.value2022, 10)
        // region.Total16to22 = region.Total + parseFloat(region.valueCont, 10)
        // this.updatedRegionInput = {region_no: region.region_no, Total: region.Total, Total16to22: region.Total16to22 }
    },
    input2020(region){
        // region.Total = parseFloat(region.value2016, 10) + 
        //                parseFloat(region.value2017, 10) +
        //                parseFloat(region.value2018, 10) +
        //                parseFloat(region.value2019, 10) + 
        //                parseFloat(region.value2020, 10) + 
        //                parseFloat(region.value2021, 10) + 
        //                parseFloat(region.value2022, 10)
        // region.Total16to22 = region.Total + parseFloat(region.valueCont, 10)
        // this.updatedRegionInput = {region_no: region.region_no, Total: region.Total, Total16to22: region.Total16to22 }
    },
    input2021(region){
        // region.Total = parseFloat(region.value2016, 10) + 
        //                parseFloat(region.value2017, 10) +
        //                parseFloat(region.value2018, 10) +
        //                parseFloat(region.value2019, 10) + 
        //                parseFloat(region.value2020, 10) + 
        //                parseFloat(region.value2021, 10) + 
        //                parseFloat(region.value2022, 10)
        // region.Total16to22 = region.Total + parseFloat(region.valueCont, 10)
        // this.updatedRegionInput = {region_no: region.region_no, Total: region.Total, Total16to22: region.Total16to22 }
    },
    input2022(region){
        // region.Total = parseFloat(region.value2016, 10) + 
        //                parseFloat(region.value2017, 10) +
        //                parseFloat(region.value2018, 10) +
        //                parseFloat(region.value2019, 10) + 
        //                parseFloat(region.value2020, 10) + 
        //                parseFloat(region.value2021, 10) + 
        //                parseFloat(region.value2022, 10)
        // region.Total16to22 = region.Total + parseFloat(region.valueCont, 10)
        // this.updatedRegionInput = {region_no: region.region_no, Total: region.Total, Total16to22: region.Total16to22 }
    },
    inputCont(region){
      //  region.Total = parseFloat(region.value2016, 10) + 
      //                  parseFloat(region.value2017, 10) +
      //                  parseFloat(region.value2018, 10) +
      //                  parseFloat(region.value2019, 10) + 
      //                  parseFloat(region.value2020, 10) + 
      //                  parseFloat(region.value2021, 10) + 
      //                  parseFloat(region.value2022, 10)
      // region.Total16to22 = region.Total + parseFloat(region.valueCont, 10)
      // this.updatedRegionInput = {region_no: region.region_no, Total: region.Total, Total16to22: region.Total16to22 }
    },
    getRegions() {
      axios
        .post("getRegions")
        .then(res => {
          this.regions = res.data;
        })
        .catch(err => {
          console.error(err);
        });
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.savetostore();
          return;
        }
        // alert("Fill up the required fields! Project Cost");
      });
    },
    savetostore() {
      store.dispatch('UpdateRegionalBreakdownData', {
        selectedInterregionals: this.selectedInterregionals
      })
    }
  }
};
</script>

<style>
</style>
