<template>
  <div name="projforinclusion">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h4>Project for Inclusion in Which Programming Document</h4>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <div class="col-sm-4" style="pointer-events:none">
            <input
              type="checkbox"
              name="projinc"
              id="projinc1"
              value="1"
              class="form-control-custom form-check-input"
              v-model="selectedProgDocument1"
            />
            <label for="projinc1">Public Investment Program</label>
          </div>
          <div class="col-sm-4">
            <input
              type="checkbox"
              name="projinc"
              id="projinc3"
              value="3"
              class="form-control-custom form-check-input"
              v-model="selectedProgDocument1"
            />
            <label for="projinc3">Three-year Rolling Infrastructure Program (TRIP)</label>
          </div>
          <div class="col-sm-12">
            <label
              for
              data-toggle="tooltip"
              data-placement="top"
              title="Contains nationally funded infrastructure projects irrespective of cost and financing with emphasis on immediate priorities to be undertaken in three-year periods"
            >
              <strong>Is the Program/Project included in the RDIP?</strong>
              <i class="fas fa-flag flag_tomato"></i>
            </label>
            <input
              type="radio"
              name="rdip"
              id="rdip1"
              value="1"
              class="form-control-custom radio-custom form-check-input"
              v-model="selectedRDIP"
              v-validate="'required'"
            />
            <label for="rdip1">Yes</label>
            <input
              type="radio"
              name="rdip"
              id="rdip2"
              value="0"
              class="form-control-custom radio-custom form-check-input"
              v-model="selectedRDIP"
              v-validate="'required'"
            />
            <label for="rdip2">No</label>
            <br/>
            <span class="text-danger">{{ errors.first('rdip') }}</span>
          </div>
          <div class="col-sm-12" v-if="selectedRDIP == 1 || selectedRDIP == 0">
            <input type="checkbox" id="rdcen" v-model="chkrdcyesno" 
            class="form-control-custom form-check-input">
            <label for="rdcen">Will require Regional Development Council (RDC) Endorsement?</label>
            <br/>
            <input
              type="radio"
              name="endorsed"
              id="endorsed"
              value="1"
              class="form-control-custom radio-custom form-check-input"
              v-model="selectedEndorsement"
            />
            <label v-if="chkrdcyesno" for="endorsed">Endorsed</label>
            <br/>
            <input
              type="radio"
              name="endorsed"
              id="notendorsed"
              value="2"
              class="form-control-custom radio-custom form-check-input"
              v-model="selectedEndorsement"
            />
            <label v-if="chkrdcyesno" for="notendorsed">Yet to be Endorsed</label>
            <!-- <span class="text-danger">{{ errors.first('endorsed') }}</span> -->
          </div>
          <div class="col-sm-12" v-if="selectedEndorsement == 1">
            <datepickerprojinc
              type="Projinclusion"
              @created="createdDatePicker"
              @updateDate="updateDate"
            ></datepickerprojinc>
          </div>
          <div class="col-sm-12">
            <label
              for
              data-toggle="tooltip"
              data-placement="top"
              title="Contains the big ticket programs and projects of the PIP that serves as pipeline for the NEDA
              Board and Investment Coordination Committee"
            >
              <strong>Is the project a CIP?</strong>
              <i class="fas fa-flag flag_tomato"></i>
            </label>
            <input
              type="radio"
              name="cip"
              id="cipYes"
              value="1"
              class="form-control-custom radio-custom form-check-input"
              v-model="cipRadio"
            />
            <label for="cipYes">Yes</label>
            <input
              type="radio"
              name="cip"
              id="cipNo"
              value="0"
              class="form-control-custom radio-custom form-check-input"
              v-model="cipRadio"
            />
            <label for="cipNo">No</label>
          </div>
          <!-- PIP -->
          <div class="col-sm-12" v-if="pipCard">
            <div class="card">
              <div class="card-header d-flex align-items-center">
                <h5>
                  Typology of PAPs
                  <br />
                  <small class="text-primary">
                    Contain priority programs and projects to be implemented by NGAs, GOCCs, GFIs, and other NG offices
                    (including SUCs) that are responsive to the PDP and RM
                  </small>
                </h5>
              </div>
              <div class="card-body">
                <div class="i-checks" v-for="piptypology in piptypologies" :key="piptypology.id">
                  <input
                    type="radio"
                    name="PIP"
                    :id="`pip${piptypology.id}`"
                    :value="piptypology.id"
                    class="form-control-custom radio-custom form-check-input"
                    v-model="selectedPIP"
                    @click="resetRND"
                    v-validate="'required'"
                  />
                  <label :for="`pip${piptypology.id}`">{{piptypology.typologies}}</label>
                  <label
                    v-if="piptypology.id == 7"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Government facilities which are part of agencies’ development strategies and contributing to the outcome and output targets contained in the PDP-RM."
                  >
                    <i class="fas fa-question-circle flag_tomato"></i>
                  </label>
                  <!-- RND -->
                  <div class="col-sm-5" v-if="selectedPIP === 2 && piptypology.id === 2">
                    <label>Is it a Research and Development Program/Project?</label>
                    <input
                      type="radio"
                      name="Research and Development"
                      id="rndID1"
                      value="1"
                      class="form-control-custom radio-custom form-check-input"
                      v-model="selectedRND"
                      v-validate="'required'"
                    />
                    <label for="rndID1">Yes</label>
                    <input
                      type="radio"
                      name="Research and Development"
                      id="rndID2"
                      value="0"
                      class="form-control-custom radio-custom form-check-input"
                      v-model="selectedRND"
                      v-validate="'required'"
                    />
                    <label for="rndID2">No</label>
                    <span class="text-danger">{{ errors.first('Research and Development') }}</span>
                  </div>
                  <!-- RND -->
                </div>
                  <span class="text-danger">{{ errors.first('PIP') }}</span>
              </div>
            </div>
          </div>
          <!-- CIP -->
          <cipbox :ciptypologies="ciptypologies" :cipCard="cipCard"
          ref="cipbox"></cipbox>
          <!-- INFRA SECTOR -->
          <div class="col-sm-12" v-if="infrasectorCard">
            <infrastructuresector :sectors="sectors" :subsectors="subsectors" ref="infrastructuresector"
            ></infrastructuresector>
          </div>
          <!-- TRIP -->
          <div class="col-sm-12" v-if="tripCard">
            <trip :statuses="statuses" ref="trip"></trip>
          </div>
          <!-- <physicalaccomplishments :cipCard="cipCard" ref="physicalaccomplishments"></physicalaccomplishments> -->
        </div>
        <!--end Row-->
      </div>
      <!-- end Card body -->
    </div>
  </div>
</template>

<script>
import store from "../../store/storetodb";
import trip from "./Trip.vue";
import infrastructuresector from "./InfrastructureSector.vue";
import cipbox from "./Cip.vue";
import datepickerprojinc from "./DatePickerProjInc.vue";
// import physicalaccomplishments from "./PhysicalAccomplish.vue";
export default {
  name: "projforinclusion",
  props: [
    "piptypologies",
    "ciptypologies",
    "sectors",
    "subsectors",
    "statuses",
  ],
  components: { trip, datepickerprojinc, cipbox, infrastructuresector },
  data() {
    return {
      selectedProgDocument1: ["1"],
      selectedPIP: "",
      selectedRND: "",
      // selectedCIP:'',
      selectedRDIP: "0",
      selectedEndorsement: "",
      cipRadio: "0",
      date: "",
      pipCard: true,
      cipCard: false,
      tripCard: false,
      infrasectorCard: false,
      chkrdcyesno: ""
    };
  },
  watch: {
    selectedProgDocument1(val) {
      if (val.includes("1")) {
        this.pipCard = true;
      } else {
        this.pipCard = false;
      }
      if (val.includes("3")) {
        this.tripCard = true;
        this.infrasectorCard = true;
      } else {
        this.tripCard = false;
        this.infrasectorCard = false;
      }
    },
    cipRadio(val) {
      if (val.includes("1")) {
        this.cipCard = true;
        store.dispatch('UpdateCipCardData', {
          cipCard: this.cipCard
        })
      } else {
        this.cipCard = false;
        store.dispatch('UpdateCipCardData', {
          cipCard: this.cipCard
        })
      }
    }
  },
  methods: {
    resetRND() {
      this.selectedRND = "";
    },
    createdDatePicker(date) {
      this.date = date;
    },
    updateDate(date) {
      this.date = date;
    },
    validateBeforeSubmit() {
      // this.$refs.physicalaccomplishments.validateBeforeSubmit()
      if (this.tripCard === true) {
        this.$refs.trip.validateBeforeSubmit()
      }
      if (this.cipCard === true) {
        this.$refs.cipbox.validateBeforeSubmit()
      }
      this.$validator.validateAll().then(result => {
        if (result) {
          this.savetostore()
          return;
        }

        // alert("Fill up the required fields! Project for Inclusion");
      });
    },
    savetostore(btn) {
      if (btn == "draft") {
        if (this.tripCard === true) {
        this.$refs.trip.savetostore()
        }
        if (this.cipCard === true) {
          this.$refs.cipbox.savetostore()
        }
        if (this.infrasectorCard == true) {
          this.$refs.infrastructuresector.savetostore()
        }
        store.dispatch("UpdateProjInclusionData", {
          selectedProgDocument1: this.selectedProgDocument1,
          selectedPIP: this.selectedPIP,
          selectedRND: this.selectedRND,
          selectedRDIP: this.selectedRDIP,
          selectedEndorsement: this.selectedEndorsement,
          cipRadio: this.cipRadio,
          dateEndorse: this.date,
          chkrdcyesno: this.chkrdcyesno,
        });
      } else {
        if (this.tripCard === true) {
          this.$refs.trip.savetostore()
        }
        if (this.cipCard === true) {
          this.$refs.cipbox.savetostore()
        }
        if (this.infrasectorCard == true) {
          this.$refs.infrastructuresector.savetostore()
        }
        store.dispatch("UpdateProjInclusionData", {
          selectedProgDocument1: this.selectedProgDocument1,
          selectedPIP: this.selectedPIP,
          selectedRND: this.selectedRND,
          selectedRDIP: this.selectedRDIP,
          selectedEndorsement: this.selectedEndorsement,
          cipRadio: this.cipRadio,
          dateEndorse: this.date,
          chkrdcyesno: this.chkrdcyesno,
          projinclusion: true
        });
      }
    }
  }
};
</script>

<style>
</style>
