<template>
  <div name="tenpointsdg">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h4>
          0-10 Point Socioeconomic Agenda
          <i class="fas fa-flag flag_tomato"></i>
          <br />
          <small class="text-primary">Select as many as applicable</small>
        </h4>
      </div>
      <div class="card-body">
        <div class="col-sm-12">
          <multiselect
            v-model="selectedTenPoint"
            :options="tenpoint"
            :multiple="true"
            :close-on-select="false"
            :clear-on-select="false"
            :preserve-search="false"
            placeholder="Single or Multiple Selection"
            label="agenda"
            track-by="agenda"
            :preselect-first="false"
            :hide-selected="true"
            name="0-10 Point Socioeconomic Agenda"
            v-validate="'required'"
          ></multiselect>
          <span class="text-danger">{{ errors.first('0-10 Point Socioeconomic Agenda') }}</span>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h4>
          Sustainable Development Goals (SDG)
          <i class="fas fa-flag flag_tomato"></i>
          <br />
          <small class="text-primary">Select as many as applicable</small>
        </h4>
      </div>
      <div class="card-body">
        <div class="col-sm-12">
          <multiselect
            v-model="selectedSdg"
            :options="sdg"
            :multiple="true"
            :close-on-select="false"
            :clear-on-select="false"
            :preserve-search="false"
            placeholder="Single or Multiple Selection"
            label="goal_description"
            track-by="goal_description"
            :preselect-first="false"
            :hide-selected="true"
            name="SDG"
            v-validate="'required'"
          ></multiselect>
          <span class="text-danger">{{ errors.first('SDG') }}</span>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h4>
          Implementation Period
          <i class="fas fa-flag flag_tomato"></i>
        </h4>
      </div>
      <div class="card-body">
        <div class="col-sm-12">
          <div class="form-group row">
            <div class="col-sm-6">
              <genericdatepickeredit  v-if="projects != undefined"
                type="startimplementation"
                @created="createdDatePicker"
                @updateStartDate="updateStartDate"
                :start="startDate"
              ></genericdatepickeredit>
              <genericdatepicker v-if="projects == undefined"
                type="startimplementation"
                @created="createdDatePicker"
                @updateStartDate="updateStartDate"
              ></genericdatepicker>
            </div>
            <div class="col-sm-6">
              <genericdatepickeredit1  v-if="projects != undefined"
                type="endimplementation"
                @created="createdDatePicker"
                @updateEndDate="updateEndDate"
                :end="endDate"
                :start="startDate"
              ></genericdatepickeredit1>
              <genericdatepicker v-if="projects == undefined"
                type="endimplementation"
                @created="createdDatePicker"
                @updateEndDate="updateEndDate"
                :start="startDate"
              ></genericdatepicker>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import genericdatepicker from "./GenericDatePicker.vue";
import genericdatepickeredit from "./GenericDatePickerEdit.vue";
import genericdatepickeredit1 from "./GenericDatePickerEdit1.vue";
import store from "../../store/storetodb";
export default {
  name: "tenpointsdg",
  props: ["agendas", "goals", "sdg_projects", "agenda_projects", "projects"],
  components: {
    genericdatepicker,
    genericdatepickeredit,
    genericdatepickeredit1
  },
  data() {
    return {
      selectedTenPoint: [],
      tenpoint: [],
      selectedSdg: [],
      sdg: [],
      startDate: "",
      endDate: ""
    };
  },
  mounted() {
    this.tenpoint = this.agendas;
    this.sdg = this.goals;
    if (this.sdg_projects != undefined) {
      this.selectedSdg = this.sdg_projects
    }
    if (this.agenda_projects != undefined) {
      this.selectedTenPoint = this.agenda_projects
    }
    if (this.projects != undefined) {
      this.startDate = `${this.projects.start}-01`
      this.endDate = `${this.projects.end}-01`
      store.dispatch("UpdateStartDate", { date: this.startDate });
    }
  },
  methods: {
    createdDatePicker(date) {
        this.startDate = date;
        this.endDate = date;
    },
    updateStartDate(date) {
      this.startDate = date;
      store.dispatch("UpdateStartDate", { date: this.startDate });
    },
    updateEndDate(date) {
      this.endDate = date;
      store.dispatch("UpdateEndDate", { date: this.endDate });
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.savetostore()
          return;
        }

        // alert("Fill up the required fields! 10 Point / SDG / Implementation Period");
      });
    },
    savetostore(btn) {
      if (btn == "draft") {
        store.dispatch("UpdateStartDate", { date: this.startDate });
        store.dispatch("UpdateEndDate", { date: this.endDate });
        store.dispatch('UpdateTenPointSdgData', {
          selectedTenPoint: this.selectedTenPoint,
          selectedSdg: this.selectedSdg,
        })
      } else {
        store.dispatch("UpdateStartDate", { date: this.startDate });
        store.dispatch("UpdateEndDate", { date: this.endDate });
        store.dispatch('UpdateTenPointSdgData', {
          selectedTenPoint: this.selectedTenPoint,
          selectedSdg: this.selectedSdg,
          tenpointsdg: true
        })
      }
    }
  }
};
</script>

<style>
</style>
