<template>
  <VApp>
    <div id="editproject">
      <span class="errorTxt">
        <button
          type="button"
          class="btn btn-secondary btn-xs"
        >For Draft Projects, please fill up the project title</button>
        <button type="button" class="btn btn-primary btn-xs">
          For Finalized Projects, please fill up fields with
          <i class="fas fa-flag"></i>
        </button>
      </span>

      <div class="container-fluid">
        <header>
          <h1 class="h3 display mt-2">Edit Project</h1>
        </header>

        <form class="text-left needs-validation" enctype="multipart/form-data">
          <geninfo :basis="basis" ref="geninfo" :projects="projects" 
          :basis_projects="basis_projects" @noerror="noerror"></geninfo>
          <implementingagency
            :agency_agency="agency_agency"
            :agency_mother="agency_mother"
            :agencies_projects="agencies_projects"
            :attagencies_projects="attagencies_projects"
            ref="implementingagency"
          ></implementingagency>
           <spatialcoverage 
           :regions_projects="regions_projects"
           :province_projects="province_projects"
           :city_projects="city_projects" 
           :projects="projects"
           :regionalcost="regionalcost"
           ref="spatialcoverage"
           ></spatialcoverage>
          <projforinclusion1
            :piptypologies="piptypologies"
            :ciptypologies="ciptypologies"
            :sectors="sectors"
            :subsectors="subsectors"
            :statuses="statuses"
            :projects="projects"
            :sector_projects="sector_projects"
            :subsector_projects="subsector_projects"
            :status_projects="status_projects"
            :ic_projects="ic_projects"
            ref="projforinclusion1"
          ></projforinclusion1>
          <physicalaccomplishments :projects="projects" :tier2statuses="tier2statuses"
            ref="physicalaccomplishments"
            ></physicalaccomplishments>
          <pdp
            :chapters="chapters"
            :_1matrices="_1matrices"
            :_2matrices="_2matrices"
            :_3matrices="_3matrices"
            :_4matrices="_4matrices"
            :sectors="sectors"
            :subsectors="subsectors"
            :projects="projects"
            :chapters_projects="chapters_projects"
            :sector_projects="sector_projects"
            :subsector_projects="subsector_projects"
            :_1matrices_projects="_1matrices_projects"
            :_2matrices_projects="_2matrices_projects"
            :_3matrices_projects="_3matrices_projects"
            :_4matrices_projects="_4matrices_projects"
            ref="pdpchapter"
          ></pdp>
          <notpdp :projects="projects" ref="notpdp"></notpdp>
          <tenpointsdg 
            :agendas="agendas" 
            :goals="goals"
            :sdg_projects="sdg_projects"
            :agenda_projects="agenda_projects"
            :projects="projects"
            ref="tenpointsdg"></tenpointsdg>
          <projectpreparation
            :projectdocuments="projectdocuments"
            :fsstatuses="fsstatuses"
            :projects="projects"
            :fscost_projects="fscost_projects"
            ref="projectpreparation"
          ></projectpreparation>
          <preconstruction 
            :projects="projects" 
            :rowa_projects="rowa_projects"
            :rc_projects="rc_projects" 
            ref="preconstruction"></preconstruction>
          <fundingsource
            :fundingsources="fundingsources"
            :modes="modes"
            :fundings="fundings"
            :projects="projects"
            :financesourceprojects="financesourceprojects"
            :f_projects="f_projects"
            :it_projects="it_projects"
            ref="fundingsource"
          ></fundingsource>
          <financialaccomplishments
           :projects="projects"
            :fa_projects="fa_projects"
           ref="financialaccomplishments"></financialaccomplishments>
          <formsubmit1 @validate_all="validate_all" @saveasDraft="saveasDraft" 
          @editsave="editsave" @saveasEndorsed="saveasEndorsed"></formsubmit1>
        </form>
        <!-- end container fluid -->
      </div>
      <!-- end app -->
    </div>
  </VApp>
</template>

<script>
import Swal from 'sweetalert2/dist/sweetalert2.js'
import 'sweetalert2/src/sweetalert2.scss'
import Multiselect from "vue-multiselect";
import spatialcoverage from "../../components/AddProject/SpatialCoverage.vue";
import implementingagency from "../../components/AddProject/ImplementingAgency.vue";
import geninfo from "../../components/AddProject/GenInfo.vue";
import projforinclusion1 from "./ProjforInclusion1";
import pdp from "../../components/AddProject/Pdp.vue";
import notpdp from "../../components/AddProject/Notpdp.vue";
import tenpointsdg from "../../components/AddProject/TenPointAgendaSdg.vue";
import projectpreparation from "../../components/AddProject/ProjectPreparation.vue";
import preconstruction from "../../components/AddProject/PreConstruction.vue";
import fundingsource from "../../components/AddProject/FundingSource.vue";
import physicalaccomplishments from "../../components/AddProject/PhysicalAccomplish.vue";
import financialaccomplishments from "../../components/AddProject/FinancialAccomplish.vue";
import formsubmit1 from "../../components/AddProject/formSubmit1.vue";

import store from "../../store/storetodb.js";

const mapDuplicate = new Map();
const mapDuplicateRegions = new Map();

export default {
  name: "editproject",
  props: [
    "route",
    "basis",
    "submission",
    "agency_agency",
    "agency_mother",
    "piptypologies",
    "ciptypologies",
    "sectors",
    "subsectors",
    "statuses",
    "chapters",
    "_1matrices",
    "_2matrices",
    "_3matrices",
    "_4matrices",
    "agendas",
    "goals",
    "projectdocuments",
    "fsstatuses",
    "fundingsources",
    "modes",
    "fundings",
    "projects",
    "basis_projects",
    "agencies_projects",
    'regions_projects',
    "province_projects",
    "city_projects",
    "sector_projects",
    "subsector_projects",
    "status_projects",
    "ic_projects",
    "tier2statuses",
    "chapters_projects",
    "_1matrices_projects",
    "_2matrices_projects",
    "_3matrices_projects",
    "_4matrices_projects",
    "sdg_projects",
    "agenda_projects",
    "fscost_projects",
    "rowa_projects",
    "rc_projects",
    "financesourceprojects",
    "f_projects",
    "it_projects",
    "regionalcost",
    "fa_projects",
    "attagencies_projects"
  ],
  components: {
    spatialcoverage,
    implementingagency,
    geninfo,
    projforinclusion1,
    pdp,
    notpdp,
    tenpointsdg,
    projectpreparation,
    preconstruction,
    fundingsource,
    physicalaccomplishments,
    financialaccomplishments,
    formsubmit1
  },
  data() {
    return {};
  },
  computed: {
    errors(){
      return errors
    }
  },
  methods: {
    validate_all() {
      this.$refs.geninfo.validateBeforeSubmit();
      this.$refs.implementingagency.validateBeforeSubmit();
      this.$refs.spatialcoverage.validateBeforeSubmit();
      this.$refs.projforinclusion1.validateBeforeSubmit();
      this.$refs.physicalaccomplishments.validateBeforeSubmit();
      this.$refs.pdpchapter.validateBeforeSubmit();
      this.$refs.notpdp.validateBeforeSubmit();
      this.$refs.tenpointsdg.validateBeforeSubmit();
      this.$refs.preconstruction.validateBeforeSubmit();
      this.$refs.projectpreparation.validateBeforeSubmit();
      this.$refs.fundingsource.validateBeforeSubmit();
      this.$refs.financialaccomplishments.validateBeforeSubmit();
      // this.$validator.reset();
    },
    saveasDraft() {
      // this.$refs.geninfo.savetostore("draft");
      // this.$refs.implementingagency.savetostore("draft");
      // this.$refs.spatialcoverage.savetostore("draft");
      // this.$refs.projforinclusion1.savetostore("draft");
      // this.$refs.physicalaccomplishments.savetostore("draft");
      // this.$refs.pdpchapter.savetostore("draft");
      // this.$refs.notpdp.savetostore("draft");
      // this.$refs.tenpointsdg.savetostore("draft");
      // this.$refs.preconstruction.savetostore("draft");
      // this.$refs.projectpreparation.savetostore("draft");
      // this.$refs.fundingsource.savetostore("draft");
      // this.$refs.financialaccomplishments.savetostore("draft");
      // this.$refs.geninfo.saveAsDraft("draft");
      this.editsave('Draft')
       Swal.fire(
            'Good job!',
            'Project Added as Draft',
            'success'
          )
    },
    saveasEndorsed() {
      this.$refs.geninfo.validateBeforeSubmit();
      this.$refs.implementingagency.validateBeforeSubmit();
      this.$refs.spatialcoverage.validateBeforeSubmit();
      this.$refs.projforinclusion1.validateBeforeSubmit();
      this.$refs.physicalaccomplishments.validateBeforeSubmit();
      this.$refs.pdpchapter.validateBeforeSubmit();
      this.$refs.notpdp.validateBeforeSubmit();
      this.$refs.tenpointsdg.validateBeforeSubmit();
      this.$refs.preconstruction.validateBeforeSubmit();
      this.$refs.projectpreparation.validateBeforeSubmit();
      this.$refs.fundingsource.validateBeforeSubmit();
      this.$refs.financialaccomplishments.validateBeforeSubmit();
      if (this.noerror()) {
        this.editsave('Endorsed')
        Swal.fire(
            'Good job!',
            'Project Added as Endorsed',
            'success'
          )
      }else {
        alert("ERROR! Fill out the required fields!");
      }
    },
    editsave(val) {
      store.dispatch('UpdateStatusofSubmissionData', val)
      this.$refs.geninfo.savetostore("draft");
      this.$refs.implementingagency.savetostore("draft");
      this.$refs.spatialcoverage.savetostore("draft");
      this.$refs.projforinclusion1.savetostore("draft");
      this.$refs.physicalaccomplishments.savetostore("draft");
      this.$refs.pdpchapter.savetostore("draft");
      this.$refs.notpdp.savetostore("draft");
      this.$refs.tenpointsdg.savetostore("draft");
      this.$refs.preconstruction.savetostore("draft");
      this.$refs.projectpreparation.savetostore("draft");
      this.$refs.financialaccomplishments.savetostore("draft");
      this.$refs.fundingsource.savetostore("draft");
      let url = this.getIDfromURL()
      store.dispatch('EditSave', url)
    },
    getIDfromURL(){
    return window.location.pathname.split('/')[2];
    },
    noerror(){
      let a = this.errors.items == 0 ? true : false
      return a
    }
  }
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>